{% extends "base.html" %}

{% block title %}{{ page.title|striptags }} - GIMP{% endblock %}

{% block head %}
  {{ super() }}
    <meta name="description" content="File not found - GIMP" />
    <link rel='stylesheet' type='text/css' href="/theme/css/404.css" />
{% endblock head %}

{% block content %}

<img id="animation-404" src="/images/GIMP-404-animated.svg"
     alt="Humorous animation about Wilber failing to pull the website banner">

<section id="content" class="page_content">
  <div class="container">
    <div id="" class="row clearfix">
      <h1>404 - File Not Found</h1>
      <h2>Eeeek!</h2>
      <p>Sorry, but whatever you’re looking for isn’t here!<br/>
      If you believe this to be an error, please <a href="https://www.gimp.org/webmasters.html">let us know</a>.</p>
    </div>
    <section id="attribution">
      <div class="container">
        <div class="row clearfix">
          <div class="column full">
            <p>
              <em>SVG animation</em>: <em>Wilber 404</em> by <a href="https://film.zemarmot.net/" title="ZeMarmot project">Aryeom & Jehan</a> (<a href="https://creativecommons.org/licenses/by-sa/4.0/" title="Creative Commons Attribution-ShareAlike"><span class='cc'>cba</span></a>)
            </p>
          </div>
        </div>
      </div>
    </section>

</section>

{% endblock content %}
