{% extends "base.html" %}

{% block title %}{{ article.title|striptags }} - GIMP{% endblock %}

{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" content="{{keyword}}" />
  {% endfor %}

  {% if article.description %}
      {% for description in article.description %}
        <meta name="description" content="{{description}}" />
      {% endfor %}
  {% elif article.summary %}
    <meta name="description" content="{{ article.summary|striptags }}" />
  {% endif %}


  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

    <link rel='stylesheet' type='text/css' href="/theme/css/article.css" />

    <meta property='og:type' content='article' />
    <meta property='article:published_time' content='{{ article.date.isoformat() }}' />

    <meta itemprop='url' content='{{ SITEURL }}/{{ article.url }}' />
    <meta property='og:url' content='{{ SITEURL }}/{{ article.url }}' />

    <meta itemprop='name' content='{{ SITENAME }} - {{ article.title|striptags }}' />
    <meta property='og:title' content='{{ SITENAME }} - {{ article.title|striptags }}' />

  {% if article.image %}
    {% if article.image[0] == '/' %}
    <meta itemprop='image' content='{{ SITEMAP_SITEURL }}{{ article.image }}' />
    <meta property='og:image' content='{{ SITEMAP_SITEURL }}{{ article.image }}' />
    {% else %}
    <meta itemprop='image' content='{{ SITEMAP_SITEURL }}/{{ article.url }}/{{ article.image }}' />
    <meta property='og:image' content='{{ SITEMAP_SITEURL }}/{{ article.url }}/{{ article.image }}' />
    {% endif %}
  {% else %}
    <meta itemprop='image' content='{{ SITEURL }}/images/frontpage/wilber-big.png' />
    <meta property='og:image' content='{{ SITEURL }}/images/frontpage/wilber-big.png' />
  {% endif %}

    {% if article.authors %}
    {% for author in article.authors %}
    <meta itemprop='author' content='{{ author }}' />
    <meta property='og:author' content='{{ author }}' />
    {% endfor %}
    {% endif %}

    {% if article.summary %}
    <meta itemprop='description' content="{{ article.summary|striptags }}" />
    <meta property='og:description' content="{{ article.summary|striptags }}" />
    {% else %}
    <meta itemprop='description' content="{{ article.content|striptags|truncate() }}" />
    <meta property='og:description' content="{{ article.content|striptags|truncate() }}" />
    {% endif %}


{% endblock head %}

{% block content %}

<section id="content" class="body">
    <div class='container'>
        <div class='row clearfix'>

            <div class='column full'>
                {# <header> #}

                    <h2 class="entry-title">
                      <a href="/{{ article.url }}" rel="bookmark"
                         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
                 {% import 'translations.html' as translations with context %}
                 {{ translations.translations_for(article) }}

                 {# </header> #}

                  <div class="post-info">
                    <abbr class="published" title="{{ article.date.isoformat() }}">
                      {{ article.locale_date }}
                    </abbr>
                    {% if article.modified %}
                    <abbr class="modified" title="{{ article.modified.isoformat() }}">
                      {{ article.locale_modified }}
                    </abbr>
                    {% endif %}
                    {% if article.authors %}
                    <address class="vcard author">
                      by {% for author in article.authors %}
                          <a class="url fn" href="/{{ author.url }}">{{ author }}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </address>
                    {% endif %}
                  </div><!-- /.post-info -->

                  <div class="entry-content">
                    {{ article.content }}
                  </div><!-- /.entry-content -->

            </div>


            <div class='column full social'>
            <hr/>
                <p>
                  Share this on:
                  <a class="mastodon-share-button"
                     data-link="https://www.gimp.org/{{ article.url|urlencode }}"
                     data-title='"{{ article.title|striptags }}" by @GIMP@floss.social'
                     title="Share this post on Mastodon">Mastodon</a> |

                  <a href="https://twitter.com/intent/tweet?url=https://www.gimp.org/{{ article.url|urlencode }}&via=GIMP_Official&text={{ article.title|striptags }}"
                     target="_blank" title="Share this post on twitter">twitter</a> |

                  <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.gimp.org/{{ article.url|urlencode }}"
                     target="_blank" title="Share this post on Facebook">Facebook</a>
                </p>

                <form class="mastodon-share-form" id='mastodon-share-{{ article.url|urlencode }}'>
                  <label for="mastodon-server-address">Your Mastodon instance:</label>
                  <input type="text" name="mastodon-instance"
                         id="mastodon-server-address"
                         list="common-mastodon-instances"
                         placeholder="https://mastodon.social">
                  <datalist id="common-mastodon-instances">
                      <option value="bsd.network">
                      <option value="chaos.social">
                      <option value="floss.social">
                      <option value="fosstodon.org">
                      <option value="framapiaf.org">
                      <option value="mamot.fr">
                      <option value="mastodon.art">
                      <option value="mastodon.online">
                      <option value="mastodon.social">
                      <option value="mastodon.uno">
                      <option value="mastodon.xyz">
                      <option value="mstdn.social">
                      <option value="post.lurk.org">
                      <option value="pouet.chapril.org">
                  </datalist>
                  <input class="mastodon-share-submit" type="submit" form='mastodon-share-{{ article.url|urlencode }}'
                         value="Share on your instance"/>
                </form>

            </div>

          </div>
      </div>
</section>

<script async src='/js/mastodon.js'></script>

{% endblock content %}
