<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}" itemscope itemtype="https://schema.org/WebSite">
    <head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="/images/wilber32.png" type="image/png" />
        <link rel="me" href='https://floss.social/@GIMP'/>
        {# SITEURL gets odd when using i18n, using better paths just below
        <link rel="stylesheet" type="text/css" href="/theme/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/theme/css/grid.css" />
        <link rel="stylesheet" type="text/css" href="/theme/css/gimp.css" />
        <link rel="stylesheet" type="text/css" href="/theme/css/font-awesome-4.4.0/css/font-awesome.min.css" />
        #}
        <link rel="stylesheet" type="text/css" href="/theme/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/theme/css/grid.css" />
        <link rel="stylesheet" type="text/css" href="/theme/css/gimp.css" />
        <link rel="stylesheet" type="text/css" href="/theme/css/font-awesome-4.4.0/css/font-awesome.min.css" />

        {# Testing Tipue Search #}
        <link href="/theme/css/tipuesearch/tipuesearch.css" rel="stylesheet">

        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        {# NOTE:PLD This was throwing an error during py3 migration #}
        {# <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        #}
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}

        {% endblock head %}

    </head>

<body id="index" class="home">


        <nav id="menu">
            <ul>
                <li id='gimp-home'><a href="/"><img src='/images/wilbericon.svg' id='menuWilber'  alt='Tiny Wilber'> GIMP</a></li>
                <li><a href="/downloads/"><i class="fa fa-download"></i> Download</a></li>
                <li><a href="/news/"><i class="fa fa-newspaper-o"></i> News</a></li>
                <li><a href="/about/"><i class="fa fa-info-circle"></i> About</a></li>
                <li><a href="/docs/"><i class="fa fa-book"></i> Docs</a></li>
                <li><a href="/develop/"><i class="fa fa-code"></i> Participate</a></li>
                <li><a href="/tutorials/"><i class="fa fa-graduation-cap"></i> Tutorials</a></li>

                {#
                # Manually overriding the generation of top-level pages on the navigation, so
                # commenting out the auto-generation below

                {% for title, link in MENUITEMS %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
                {% if DISPLAY_PAGES_ON_MENU %}
                  {% for p in PAGES %}
                    {% if p.parents|length == 1 %}
                      <li{% if p == page %} class="active"{% endif %}><a href="/{{ p.url }}">{{ p.title }}</a></li>
                    {% endif %}
                  {% endfor %}
                {% else %}
                  {% if DISPLAY_CATEGORIES_ON_MENU %}
                    {% for cat, null in categories %}
                      <li{% if cat == category %} class="active"{% endif %}><a href="/{{ cat.url }}">{{ cat }}</a></li>
                    {% endfor %}
                  {% endif %}
                {% endif %}

                #}

                <li>
                    <a class='donate-orange' href="/donating/"><i class="fa fa-money"></i> Donate</a>
                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=gimp%40gnome%2eorg&lc=US&item_name=Donation%20to%20GIMP%20Project&item_number=106&currency_code=USD" title='Donate with PayPal' class='donate-type'>
                        <img src='/theme/images/pp16.png' alt="PayPal" >
                    </a>
                </li>

            </ul>
            <i class="fa fa-chevron-up" id='nav-up'></i>
        </nav><!-- /#menu -->

        <div id='navstrip' class='nav-down'>
            <a href="/" class='navfive'>
                <img id='wilber-tiny' src="/images/wilbericon.svg"  alt='Wilber Icon'><br/>
                GIMP
            </a>
            <a href="/news/" class='navfive'>
                <i class="fa fa-newspaper-o" ></i><br/>
                News
            </a>
            <a href="/docs/" class='navfive'>
                <i class="fa fa-book" ></i><br/>
                Docs
            </a>
            <a href="/tutorials/" class='navfive'>
                <i class="fa fa-graduation-cap" ></i><br/>
                Tutorials
            </a>
            <a href="#bottom-nav" id='navel' class='navfive' >
                <i class="fa fa-bars" ></i><br/>
                More
            </a>
        </div>

        <a id="navel-old" href="#bottom-nav" ><i class="fa fa-bars"></i></a>

    <div id="pushPage">

        {% block header %}
        {% endblock header %}


        {% block content %}
        {% endblock %}

        <footer id="contentinfo" class="body">
            <div class="container">
                <div class="row clearfix">
                    <div class="column third">
                        <ul class="nav-bottom">
                            <li id='nav-btm-gimp-home'><a href="/"><img src='/images/wilbericon.svg'  id='footerWilber' alt='Tiny Wilber'> GIMP</a></li>
                            <li id="nav-btm-downloads"><a href="/downloads/"><i class="fa fa-download fa-fw"></i> Download</a></li>
                            <li id="nav-btm-news"><a href="/news/"><i class="fa fa-newspaper-o fa-fw"></i> News</a></li>
                        </ul>
                    </div>
                    <div class="column third">
                        <ul class="nav-bottom">
                            <li id="nav-btm-about"><a href="/about/"><i class="fa fa-info-circle fa-fw"></i> About GIMP</a></li>
                            <li id="nav-btm-docs"><a href="/docs/"><i class="fa fa-book fa-fw"></i> Documentation</a></li>
                            <li id="nav-btm-donating"><a href="/donating/"><i class="fa fa-money fa-fw"></i> Donate</a></li>
                        </ul>
                    </div>
                    <div class="column third">
                        <ul class="nav-bottom">
                            <li id="nav-btm-develop">
                                <a href="/develop/">
                                    <i class="fa fa-code fa-fw"></i> Get Involved
                                </a>
                            </li>
                            <li id="nav-btm-tutorials"><a href="/tutorials/"><i class="fa fa-graduation-cap fa-fw"></i> Tutorials</a></li>

                        {#
                        {% for title, link in MENUITEMS %}
                            <li class='menuitem'><a href="{{ link }}">{{ title }}</a></li>
                        {% endfor %}

                        {% if DISPLAY_PAGES_ON_MENU %}

                          {% for p in PAGES %}
                            {% if p.parents|length == 1 %}
                              <li{% if p == page %} class="active"{% endif %} class="page-on-menu"><a href="/{{ p.url }}">{{ p.title }}</a></li>
                            {% endif %}
                          {% endfor %}

                        {% else %}

                          {% if DISPLAY_CATEGORIES_ON_MENU %}
                            {% for cat, null in categories %}
                              <li{% if cat == category %} class="active"{% endif %}><a href="/{{ cat.url }}">{{ cat }}</a></li>
                            {% endfor %}
                          {% endif %}

                        {% endif %}
                        #}

                        </ul>
                    </div>
                </div>

                <div class='row clearfix secondary-links'>

                    <div class='column third'>
                        <ul>
                            <li><a href='/features/'>Features</a></li>
                            <li><a href='/release-notes/'>Release Notes</a></li>
                            <li><a href='https://developer.gimp.org/core/roadmap/'>Roadmap</a></li>
                        </ul>
                    </div>

                    <div class='column third'>
                        <ul>
                            <li><a href='/docs/userfaq.html' title='Frequently Asked Questions'>FAQ</a></li>
                            <li><a href='/bugs/'>Bug Reports</a></li>
                            <li><a href='/donating/sponsors.html'>Sponsors</a></li>
                        </ul>
                    </div>

                    <div class='column third'>
                        <ul class='social-links'>
                            <li><a href='/discuss.html'>Discuss</a></li>
                            <li><a href='/books/'>Books</a></li>
                        </ul>
                    </div>

                </div>

                <div class="row clearfix bottom">
                    <div class="column half flow-opposite">
                        <a href="/feeds/atom.xml">GIMP News Feed <i class='fa fa-rss'></i></a> | <a href="/webmasters.html">Contacting Us</a>
                    </div>
                    <div class="column half">
                        <p>
                        <small>
                            <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
                                <img alt="Creative Commons License" src="/images/creativecommons/by-sa-80x15.png">
                            </a>
                            <br>
                            Unless otherwise noted, <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">GIMP's Website</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://www.gimp.org/team.html" property="cc:attributionName" rel="cc:attributionURL">GIMP's Team</a> is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
                        </small>
                        </p>
                    </div>
                </div>

                <div class='row clearfix'>
                    <div class='column full'>
                        <form action='https://duckduckgo.com/' id='search-form'>
                        {# <form action='/search.html' id='search-form'> #}
                            {# <input type='text' name='q' id='tipue_search_input' autocomplete='off' required> #}
                            <input type='text' name='q' id='tipue_search_input' autocomplete='off' required placeholder='Search with DuckDuckGo'>
                            <input type='hidden' name='sites' value='www.gimp.org'>
                            {#
                            # These only work for js-enabled browsers...
                            <input type='hidden' name='ia' value='web'>
                            <input type='hidden' name='kj' value='%230e2426'>
                            <input type='hidden' name='kx' value='%230e2426'>
                            <input type='hidden' name='km' value='m'>
                            <input type='hidden' name='k9' value='%23497bad'>
                            #}
                        </form>
                    </div>
                </div>

            </div>
        </footer><!-- /#contentinfo -->

    </div>

    {# We use this for the sliding menu on small responsive screen (phone/tablet) #}
    <script async src='/js/push-menu.js'></script>

    {# including the js snippet for searching with tipuesearch #}
    <script async src='/js/search-embed.js'></script>

</body>
</html>
