{% extends "page.html" %}

{#
    We've switched to using the GIMP_VERSIONS json file.
    Access it using GIMP.### - see pelicanconf(-testing).py and the source section below
#}

{% block head %}
{{ super() }}
        <link rel='stylesheet' type='text/css' href='/theme/css/downloads.css' />
{% endblock %}

{% block data %}

    <figure>
    <img src="tacoma-narrows.jpg" alt="Tacoma Narrows Bridge Collapse" height='331' width='768'/>
    </figure>

    <h2>Please Note</h2>
    <p class='tRed'>This is the download page for <strong>the development version of GIMP</strong>.</p>
    <p>That means these builds are a work-in-progress. 
       Proceed with caution because <em>they may be unstable</em>.
       If a crash does occur, please <a href='/bugs/' title='GIMP Bugs'>report it</a>!</p>

    {% if GIMP_VERSION is defined %}
    <p>If you're looking for the stable GIMP {{ GIMP_VERSION }} release instead, you can find it on our <a href="/downloads/">downloads page</a>.</p>
    {% endif %}

    <h2>Current Development Version</h2>

    {% if GIMP_VERSION_DEVELOPMENT is defined %}
    <p>The current development release of GIMP is <b>{{ GIMP_VERSION_DEVELOPMENT }}</b> ({{ RELEASE_DATE_DEVELOPMENT }}).</p>


    <div class="OSTEST">
        <p id='OS-choice'>
            Show downloads for
            <span class="show_links" id='os_linux'>GNU/Linux</span>&nbsp;|
            <span class="show_links" id='os_mac'>macOS</span>&nbsp;|
            <span class="show_links" id='os_win'>Microsoft&nbsp;Windows</span>&nbsp;|
            <span class="show_links" id='os_all'>All</span>

            <br />

            <small>
              (we think your OS is
              <span id="pOSTEST">
                  …
                  <sub>
                  Well, we don't actually know.
                  Either JavaScript is disabled, or I am not working quite right…
                  So I am showing you all the options
                  </sub>
              </span>)
            </small>
        </p>

    </div>

    <div id='linux' class="os linux" markdown='1'>
        <h2>GIMP (development version) for Unix-like systems</h2>

        {% if APPIMAGE_X86_COMMENT_DEVELOPMENT is defined %}
        <small>
          <p id='download-comment'>
            <strong>Updated on {{ APPIMAGE_X86_DATE_DEVELOPMENT }}: GIMP
            {{ APPIMAGE_X86_VER_DEVELOPMENT }} AppImage revision {{ APPIMAGE_X86_REVISION_DEVELOPMENT }}</strong> </br>
            {{ APPIMAGE_X86_COMMENT_DEVELOPMENT }}
          </p>
        </small>
        {% endif %}

        <p class='buttons'>
            <span class='download-button download-store'>
                <a href="https://flathub.org/beta-repo/appstream/org.gimp.GIMP.flatpakref">
                    Install GIMP development flatpak (unstable)
                </a>
            </span>
            <span class='download-button download-store'>
                <a href="https://nightly.gnome.org/repo/appstream/org.gimp.GIMP.Nightly.flatpakref">
                    Install GIMP nightly flatpak (very unstable)
                </a>
            </span>
        </p>
        <p id='linux-x86_64-buttons' class='buttons'>
            <span class='download-button' id='download-torrent'>
                <a href="//download.gimp.org/gimp/v{{ APPIMAGE_X86_MAJOR_MINOR_VER_DEVEL }}/linux/{{ APPIMAGE_X86_FILE_DEVELOPMENT }}.torrent">
                    Download GIMP&nbsp;{{ APPIMAGE_X86_VER_DEVELOPMENT }} AppImage<br/>for x86_64<br/>
                    via BitTorrent
                </a>
            </span>
            <span class='download-button'>
                <a href="//download.gimp.org/gimp/v{{ APPIMAGE_X86_MAJOR_MINOR_VER_DEVEL }}/linux/{{ APPIMAGE_X86_FILE_DEVELOPMENT }}">
                    Download GIMP&nbsp;{{ APPIMAGE_X86_VER_DEVELOPMENT }} AppImage<br/>for x86_64<br/>
                    directly
                </a>
            </span>
            <br/>
            <span class="show_links" id="linux-show-arm64">
              Show downloads for <strong>AArch64</strong>
            </span>
        </p>
        <p id='linux-arm64-buttons' class='buttons'>
            <span class='download-button' id='download-torrent'>
                <a href="//download.gimp.org/gimp/v{{ APPIMAGE_ARM64_MAJOR_MINOR_VER_DEVEL }}/linux/{{ APPIMAGE_ARM64_FILE_DEVELOPMENT }}.torrent">
                    Download GIMP&nbsp;{{ APPIMAGE_ARM64_VER_DEVELOPMENT }} AppImage<br/>for ARM64<br/>
                    via BitTorrent
                </a>
            </span>
            <span class='download-button'>
                <a href="//download.gimp.org/gimp/v{{ APPIMAGE_ARM64_MAJOR_MINOR_VER_DEVEL }}/linux/{{ APPIMAGE_ARM64_FILE_DEVELOPMENT }}">
                    Download GIMP&nbsp;{{ APPIMAGE_ARM64_VER_DEVELOPMENT }} AppImage<br/>for ARM64<br/>
                    directly
                </a>
            </span>
            <br/>
            <span class="show_links" id="linux-show-x86_64">
              Show downloads for <strong>x86_64</strong>
            </span>
        </p>

        <small>
            <p>
                The download links above will attempt to download GIMP
                from one of our trusted <a href="/donating/sponsors.html">mirror servers</a>.
                If the mirrors do not work or you would rather download
                directly from our server, you can get the <a href='//download.gimp.org/gimp/v{{ APPIMAGE_ARM64_MAJOR_MINOR_VER_DEVEL }}/linux/'>direct download here</a>.
            </p>
        </small>

        <h3>Warnings and information</h3>
        <ul>
          <li><p>
          Flatpak builds available in: <strong>x86-64</strong> (both
          development and nightly builds) and <strong>AArch64</strong>
          (development releases only).
          </p></li>
          {% if APPIMAGE_ARM64_MIN_SUPPORT_DEVELOPMENT is defined and
             APPIMAGE_X86_MIN_SUPPORT_DEVELOPMENT is defined and
             APPIMAGE_ARM64_MIN_SUPPORT_DEVELOPMENT == APPIMAGE_X86_MIN_SUPPORT_DEVELOPMENT %}
          <li><p>(AppImage) Supported OS: <strong>{{ APPIMAGE_ARM64_MIN_SUPPORT_DEVELOPMENT }}</strong> or newer distro</p></li>
          {% else %}
            {% if APPIMAGE_ARM64_MIN_SUPPORT_DEVELOPMENT is defined %}
          <li><p>(AppImage) Supported Aarch64 OS: <strong>{{ APPIMAGE_ARM64_MIN_SUPPORT_DEVELOPMENT }}</strong> or newer distro</p></li>
            {% endif %}
            {% if APPIMAGE_X86_MIN_SUPPORT_DEVELOPMENT is defined %}
          <li><p>(AppImage) Supported x86 OS: <strong>{{ APPIMAGE_X86_MIN_SUPPORT_DEVELOPMENT }}</strong> or newer distro</p></li>
            {% endif %}
          {% endif %}
        </ul>

        <h3>Flatpak additional instructions</h3>

        <p>If the link above doesn't open your software installer,
        install with following command:
        <p>
        <code>
          flatpak install --user https://flathub.org/beta-repo/appstream/org.gimp.GIMP.flatpakref
        </code>
        </p>
        <p>
        Run with following command line:
        </p>
        <p>
        <code>flatpak run org.gimp.GIMP//beta</code>
        </p>
        <p>
        To update:
        </p>
        <p>
        <code>flatpak update</code>
        </p>
        <p>
        <em>Note: If you installed both the stable and beta
        repositories, the desktop (menus, etc.) will see only one
        version at a time.
        To make sure your desktop sees the development version, run this
        command:
        </em>
        </p>
        <p>
        <code>flatpak make-current --user org.gimp.GIMP beta</code>
        </p>
        <p>
        <em>Or respectively to restore the stable version as the visible
        GIMP application:
        </em>
        </p>
        <p>
        <code>flatpak make-current --user org.gimp.GIMP stable</code>
        </p>
        <p>
        <em>You may also create shortcuts running specifically one of the
        other version.</em>
        </p>

<!--
{% if FLATPAK_FILE_DEVELOPMENT is defined %}

        {% if FLATPAK_VER_DEVELOPMENT != GIMP_VERSION_DEVELOPMENT %}
        <p>Note: the currently available flatpak bundle provides GIMP
        {{ FLATPAK_VER_DEVELOPMENT }} and has not yet updated to the
        latest version, GIMP {{ GIMP_VERSION_DEVELOPMENT }}. We're
        working on that, please check back later.</p>
        {% endif %}

        <p class='buttons'>
            {% for arch, file in FLATPAK_FILE_DEVELOPMENT.iteritems() %}
              <span class='download-button'>
                  <a
                  href="//download.gimp.org/gimp/v{{FLATPAK_VER_DEVELOPMENT.split('.')[0]}}.{{FLATPAK_VER_DEVELOPMENT.split('.')[1]}}/linux/{{file}}">
                      Download GIMP&nbsp;{{ FLATPAK_VER_DEVELOPMENT }} flatpak for {{ arch }}<br/>
                      directly
                  </a>
              </span>
            {% endfor %}
        </p>
        <p>
            {% for arch, hash in FLATPAK_HASH_DEVELOPMENT.iteritems() %}
            <p>
                The MD5 hash sum for <code>{{ FLATPAK_VER_DEVELOPMENT
                }}</code> flatpak on <code>{{ arch }}</code> is:
                <kbd>{{ hash }}</kbd>
            </p>
            {% endfor %}
        </p>

        <small>
            <p>
                The download links above will attempt to download GIMP from one of our trusted <a href="/donating/sponsors.html">mirror servers</a>.
                If the mirrors do not work or you would rather download
                directly from our server, you can get the <a
                href='//download.gimp.org/gimp/v{{FLATPAK_VER_DEVELOPMENT.split('.')[0]}}.{{FLATPAK_VER_DEVELOPMENT.split('.')[1]}}/linux/'>direct download here</a>.
            </p>
        </small>

        <h3>Native build</h3>

        <p>The official GIMP {{ FLATPAK_VER_DEVELOPMENT }} flatpak
        bundle (linked above) is a stock GIMP build without any add-ons.
        It doesn't provide a repository for automatic update, as does
        the stable version flatpak repository.
        </p>

{% else %}

        <p>There is no flatpak package yet, sorry. Please check back later.</p>

{% endif %}
-->

        {% if APPIMAGE_X86_FILE_DEVELOPMENT is defined %}
        <h3>Hash Sum</h3>
        <p>
          <ul>
            <li>{{ APPIMAGE_ARM64_HASH_FUN_DEVELOPMENT.upper() }} hash sum for <code>{{ APPIMAGE_ARM64_FILE_DEVELOPMENT }}</code>: <kbd>{{ APPIMAGE_ARM64_HASH_DEVELOPMENT }}</kbd></li>
            <li>{{ APPIMAGE_X86_HASH_FUN_DEVELOPMENT.upper() }} hash sum for <code>{{ APPIMAGE_X86_FILE_DEVELOPMENT }}</code>: <kbd>{{ APPIMAGE_X86_HASH_DEVELOPMENT }}</kbd></li>
          </ul>
        </p>
        <p>
        Check these on <a href="https://www.virustotal.com/">VirusTotal</a>:
        <a href="https://www.virustotal.com/#/file/{{ APPIMAGE_ARM64_HASH_DEVELOPMENT }}/detection">{{ APPIMAGE_ARM64_FILE_DEVELOPMENT }}</a> and
        <a href="https://www.virustotal.com/#/file/{{ APPIMAGE_X86_HASH_DEVELOPMENT }}/detection">{{ APPIMAGE_X86_FILE_DEVELOPMENT }}</a>
        </p>
        {% endif %}

        <h3 id='appimage'>Automatic AppImage development builds</h3>
        <p>
            Automatic builds (sometimes called "nightlies") are generated at
            regular intervals by our Continuous Integration process. This
            allows to run the last version of our code, though be aware
            that it also means ⚠️  <strong>you would be running very
            experimental code!</strong> ⚠️ <br/>
            These builds are meant to test future GIMP versions and help us
            debug, we do not advise to use these for production.
        </p>
        <ol>
          <li>Go to GIMP's <a
          href="https://gitlab.gnome.org/GNOME/gimp/-/pipeline_schedules">scheduled
          pipelines listing</a> and click the "<strong>Last Pipeline</strong>"
          <code>Passed</code> button listed next to the <code>AppImage</code> item.</li>
          <li>Select the job named <code>dist-appimage-weekly</code></li>
          <li>Click the <code>Browse</code> button</li>
          <li>Navigate to the <code>build/linux/appimage/_Output/</code>
          directory</li>
          <li>Finally click the <code>GIMP-{{ GIMP_VERSION_NIGHTLY }}-x86_64.AppImage</code>
          or <code>GIMP-{{ GIMP_VERSION_NIGHTLY }}-aarch64.AppImage</code> file to download 
          and install the AppImage.</li>
        </ol>
        <dl>
          <dt>Note<dt>
          <dd><em>
            Additionally to the code being experimental, these automated
            installers themselves are an experimental convenience and may
            still have various issues. In particular, they are not humanly
            tested, unlike released versions.
          </em></dd>
        </dl>

        <h3>Systems without flatpak or AppImage support</h3>
        <p>
            GIMP can also run on Solaris and is available for the BSD
            family of systems such as FreeBSD and OpenBSD. Third party
            development packages may be available for these systems.
            Please refer to the documentation for your Unix-like system on the installation of software.
        </p>

	<p>
	  Most Unix-like systems make it very easy to install a development environment for building software from source. If you can't find a GIMP package in your distribution's package repository or want to build a more recent GIMP version that what is available there, then see the <a href="#source">source code section</a>.
	</p>
    </div>


    <div id='mac' class="os mac" markdown="1">
        <h2>GIMP (development version) for macOS</h2>

{% if MACOS_X86_FILE_DEVELOPMENT is defined %}

        {% if MACOS_ARM64_VER_DEVELOPMENT != GIMP_VERSION_DEVELOPMENT %}
        <p>Note: the currently available package provides GIMP {{ MACOS_ARM64_VER_DEVELOPMENT }} and has not yet updated to the latest version, GIMP {{ GIMP_VERSION_DEVELOPMENT }}. We're working on that, please check back later.</p>
        {% endif %}

        {% if MACOS_X86_COMMENT_DEVELOPMENT is defined %}
        <small>
          <p id='download-comment'>
            <strong>Updated on {{ MACOS_X86_DATE_DEVELOPMENT }}: GIMP {{ MACOS_X86_VER_DEVELOPMENT }} DMG revision {{ MACOS_X86_REVISION_DEVELOPMENT }}</strong> </br>
            {{ MACOS_X86_COMMENT_DEVELOPMENT }}
          </p>
        </small>
        {% endif %}

        <p id='mac-x86_64-buttons' class='buttons'>
            <span class='download-button' id='download-torrent'>
                <a href="//download.gimp.org/gimp/v{{ MACOS_X86_MAJOR_MINOR_VER_DEVEL }}/macos/{{ MACOS_X86_FILE_DEVELOPMENT }}.torrent">
                    Download GIMP&nbsp;{{ MACOS_ARM64_VER_DEVELOPMENT }}<br/>for Intel<br/>
                    via BitTorrent
                </a>
            </span>
            <span class='download-button'>
                <a href="//download.gimp.org/gimp/v{{ MACOS_X86_MAJOR_MINOR_VER_DEVEL }}/macos/{{ MACOS_X86_FILE_DEVELOPMENT }}">
                    Download GIMP&nbsp;{{ MACOS_ARM64_VER_DEVELOPMENT }}<br/>for Intel<br/>
                    directly
                </a>
            </span>
            <br/>
            <span class="show_links" id="mac-show-arm64">
              Show downloads for <strong>ARM64 (Apple Silicon)</strong>
            </span>
        </p>
        <p id='mac-arm64-buttons' class='buttons'>
            <span class='download-button' id='download-torrent'>
                <a href="//download.gimp.org/gimp/v{{ MACOS_ARM64_MAJOR_MINOR_VER_DEVEL }}/macos/{{ MACOS_ARM64_FILE_DEVELOPMENT }}.torrent">
                    Download GIMP&nbsp;{{ MACOS_ARM64_VER_DEVELOPMENT }}<br/>for Apple Silicon<br/>
                    via BitTorrent
                </a>
            </span>
            <span class='download-button'>
                <a href="//download.gimp.org/gimp/v{{ MACOS_ARM64_MAJOR_MINOR_VER_DEVEL }}/macos/{{ MACOS_ARM64_FILE_DEVELOPMENT }}">
                    Download GIMP&nbsp;{{ MACOS_ARM64_VER_DEVELOPMENT }}<br/>for Apple Silicon<br/>
                    directly
                </a>
            </span>
            <br/>
            <span class="show_links" id="mac-show-x86_64">
              Show downloads for <strong>x86_64</strong>
            </span>
        </p>

        <small>
            <p>
                The download links above will attempt to download GIMP from one of our trusted <a href="/donating/sponsors.html">mirror servers</a>.  If the mirrors do not work or you would rather download directly from our server, you can get the <a href='//download.gimp.org/gimp/v{{ MACOS_ARM64_MAJOR_MINOR_VER_DEVEL }}/macos/'>direct download here</a>.
            </p>
        </small>

        <h3>Warnings and information</h3>
        <ul>
          {% if MACOS_ARM64_MIN_SUPPORT_DEVELOPMENT is defined %}
          <li><p>Supported OS: <strong>{{ MACOS_ARM64_MIN_SUPPORT_DEVELOPMENT }}</strong> or over</p></li>
          {% endif %}
          <li>
            <strong>!IMPORTANT! ⚠️ App Store:</strong> GIMP team does not
            provide any downloads using Apple's App Store at the moment.
            Any downloads on the store are created by third party and is
            not in anyway connected to the GIMP team.
          </li>
          <li><p>Since version 2.8.2, GIMP runs on macOS/OSX natively. No X11
          environment is required.</p></li>
        </ul>

        <h3>Native build</h3>

        <p>The official GIMP {{ MACOS_ARM64_VER_DEVELOPMENT }} DMG installers (linked
        above) are stock GIMP builds without third-party add-ons. Just open the downloaded DMG and drag and drop GIMP into your "Applications" folder.</p>

        <p>
          <ul>
            <li>{{ MACOS_ARM64_HASH_FUN_DEVELOPMENT.upper() }} hash sum for <code>{{ MACOS_ARM64_FILE_DEVELOPMENT }}</code>: <kbd>{{ MACOS_ARM64_HASH_DEVELOPMENT }}</kbd></li>
            <li>{{ MACOS_X86_HASH_FUN_DEVELOPMENT.upper() }} hash sum for <code>{{ MACOS_X86_FILE_DEVELOPMENT }}</code>: <kbd>{{ MACOS_X86_HASH_DEVELOPMENT }}</kbd></li>
          </ul>
        </p>
        <p>
          Check on
          <a href="https://www.virustotal.com/">VirusTotal</a>:
          <a href="https://www.virustotal.com/#/file/{{ MACOS_ARM64_HASH_DEVELOPMENT }}/detection">{{ MACOS_ARM64_FILE_DEVELOPMENT }}</a> and
          <a href="https://www.virustotal.com/#/file/{{ MACOS_X86_HASH_DEVELOPMENT }}/detection">{{ MACOS_X86_FILE_DEVELOPMENT }}</a>
        </p>

      {% if GIMP_VERSION_NIGHTLY is defined %}
      <h3>Automatic development builds</h3>
      <p>
          Automatic builds (sometimes called "nightlies") are generated at
          regular intervals by our Continuous Integration process. This
          allows to run the last version of our code, though be aware
          that it also means ⚠️  <strong>you would be running very
          experimental code!</strong> ⚠️ <br/>
          These builds are meant to test future GIMP versions and help us
          debug, we do not advise to use these for production.
      </p>
      <ol>
        <li>Go to GIMP's <a
        href="https://app.circleci.com/pipelines/github/GNOME/gimp-macos-build?branch=master&filter=all">scheduled
        pipelines listing</a> and click the latest <code>Success</code>
        button listed at the top of the list.</li>
        <li>Click the job <code>build-gimp-2-99-and-package</code> in the right end</li>
        <li>Click the <code>Artifacts</code> tab</li>
        <li>Finally click the <code>builds/gimp-{{GIMP_VERSION_NIGHTLY}}-*-master.dmg</code>
        file to download and install the GIMP nightly.</li>
      </ol>
      <dl>
        <dt>Note<dt>
        <dd><em>
          Additionally to the code being experimental, these automated
          installers themselves are an experimental convenience and may
          still have various issues. In particular, they are not humanly
          tested, unlike released versions.
        </em></dd>
      </dl>
      {% endif %}

        <h3>Older Downloads</h3>
        <p>Previous installers for macOS/OSX can be found here: <a href='//download.gimp.org/gimp/v2.9/osx/'>download.gimp.org</a>.</p>

{% else %}

        <p>There is no macOS package yet, sorry. Please check back later.</p>

{% endif %}

    </div>

    <div id='win' class="os win" markdown="1">
    <h2>GIMP (development version) for Windows</h2>

{% if WINDOWS_FILE_DEVELOPMENT is defined %}

    {% if WINDOWS_VER_DEVELOPMENT != GIMP_VERSION_DEVELOPMENT %}
    <p>
        Note: the currently available package provides GIMP {{ WINDOWS_VER_DEVELOPMENT }} and has <em>not yet been updated to the latest version</em>, GIMP {{ GIMP_VERSION_DEVELOPMENT }}. We're working on it, please check back later.
    </p>
    {% endif %}

    {% if WINDOWS_COMMENT_DEVELOPMENT is defined %}
    <small>
        <p id='download-comment'>
            <strong>Updated on {{ WINDOWS_DATE_DEVELOPMENT }}:
            GIMP {{ WINDOWS_VER_DEVELOPMENT }} installer revision {{ WINDOWS_REVISION_DEVELOPMENT }}</strong>
            </br> {{ WINDOWS_COMMENT_DEVELOPMENT }}
        </p>
    </small>
    {% endif %}

    <p class='buttons'>
        <span class='download-button' id='download-torrent'>
            <a href="//download.gimp.org/gimp/v{{ WINDOWS_VER_DEVELOPMENT.split('.')[0] }}.{{ WINDOWS_VER_DEVELOPMENT.split('.')[1] }}/windows/{{ WINDOWS_FILE_DEVELOPMENT }}.torrent" title="Download GIMP via BitTorrent" id="download-torrent-link">
                Download GIMP&nbsp;{{ WINDOWS_VER_DEVELOPMENT }}<br/>
                via BitTorrent
            </a>
        </span>
        <span class='download-button'>
            <a href="//download.gimp.org/gimp/v{{ WINDOWS_VER_DEVELOPMENT.split('.')[0] }}.{{ WINDOWS_VER_DEVELOPMENT.split('.')[1] }}/windows/{{ WINDOWS_FILE_DEVELOPMENT }}" title="Download GIMP via HTTP" id='win-download-link' >
                Download GIMP&nbsp;{{ WINDOWS_VER_DEVELOPMENT }}<br/>
                directly
            </a>
        </span>
        <span class='download-button download-store'>
            <a
            href="ms-windows-store://pdp/?productid=9NZVDVP54JMR"
            title="Download GIMP (Preview) on Microsoft Store" id='win-store-download-link' >
                GIMP (Preview)<br/>
                on Microsoft Store
            </a>
        </span>
    </p>

    <h3>Warnings and information</h3>
    <ul>
      {% if WINDOWS_MIN_SUPPORT_DEVELOPMENT is defined %}
      <li><p>Supported OS: <strong>{{ WINDOWS_MIN_SUPPORT_DEVELOPMENT }}</strong> or over</p></li>
      {% endif %}
      <li>
          These links download an experimental GIMP installer for Windows (~200 MB).
          The installer contains both 32-bit and 64-bit versions of GIMP, and will automatically use the appropriate one.
      </li>
      <li>
          BitTorrent is a peer-to-peer file sharing system. It works by downloading GIMP from a distributed network of BitTorrent users, and may improve download speed dramatically.
          Choosing this option will download the torrent file for the GIMP installer.
          You may need to install a torrent client to make use of this file. <a href="//en.wikipedia.org/wiki/BitTorrent" title="BitTorrent on Wikipedia">Learn more...</a>
      </li>
      <li>
          <a href="https://apps.microsoft.com/store/detail/gimp/9NZVDVP54JMR">GIMP (Preview)</a>
          and its <a href="/downloads/">stable counterpart</a> are the only supported
          entries on the Microsoft Store. Our team cannot vouch for
          third-party packages of our code.
      </li>
    </ul>

    <h3>Hash Sum</h3>
    <p>
        The {{ WINDOWS_HASH_FUN_DEVELOPMENT.upper() }} hash sum for <code>{{ WINDOWS_FILE_DEVELOPMENT }}</code> is:
        <kbd>{{ WINDOWS_HASH_DEVELOPMENT }}</kbd>
    </p>
    <p>
      Check it on
      <a href="https://www.virustotal.com/">VirusTotal</a>:
      <a href="https://www.virustotal.com/#/file/{{ WINDOWS_HASH_DEVELOPMENT }}/detection">{{ WINDOWS_FILE_DEVELOPMENT }}</a>
    </p>

    {% if GIMP_VERSION_NIGHTLY is defined %}
    <h3>Automatic development builds</h3>
    <p>
        Automatic builds (sometimes called "nightlies") are generated at
        regular intervals by our Continuous Integration process. This
        allows to run the last version of our code, though be aware
        that it also means ⚠️  <strong>you would be running very
        experimental code!</strong> ⚠️ <br/>
        These builds are meant to test future GIMP versions and help us
        debug, we do not advise to use these for production.
    </p>
    <ol>
      <li>Go to GIMP's <a
      href="https://gitlab.gnome.org/GNOME/gimp/-/pipeline_schedules">scheduled
      pipelines listing</a> and click the "<strong>Last Pipeline</strong>"
      <code>Passed</code> button listed next to the <code>Windows installer</code> item.</li>
      <li>Select the job named <code>win-installer-nightly</code><li>
      <li>Click the <code>Browse</code> button</li>
      <li>Navigate to the <code>build/windows/installer/_Output/</code>
      directory</li>
      <li>Finally click the <code>gimp-{{ GIMP_VERSION_NIGHTLY }}-setup.exe</code>
      file to download and install the GIMP nightly.</li>
    </ol>
    <!--
    This link should ideally send to the last nightly installer, but it
    only does so when this is also the last published job. So we comment
    this out until a better way can be figured out. For now we just
    leave the above step-by-step process.
    Cf. https://gitlab.com/gitlab-org/gitlab/-/issues/331232
    <ul>
      <li><a
      href="https://gitlab.gnome.org/GNOME/gimp/-/jobs/artifacts/master/raw/build/windows/installer/_Output/gimp-{{ GIMP_VERSION_NIGHTLY }}-setup.exe?job=win-installer-nightly">
      Last nightly installer</a></li>
    </ul>
    -->
    <dl>
      <dt>Note<dt>
      <dd><em>
        Additionally to the code being experimental, these automated
        installers themselves are an experimental convenience and may
        still have various issues. In particular, they are not humanly
        tested and are unsigned, unlike released versions.
      </em></dd>
    </dl>
    {% endif %}

    <h3>Older Downloads</h3>
    <p>
        Previous installers for Windows can be found here: <a href='//download.gimp.org/gimp/v2.9/windows/'>download.gimp.org</a>.
    </p>

{% else %}

        <p>There is no installer package for Microsoft Windows yet, sorry. Please check back later.</p>

{% endif %}

    </div>

    <div id='source'>
        <h2>Source for version 
            {{ GIMP_VERSION_DEVELOPMENT.split('.')[0] }}.{{ GIMP_VERSION_DEVELOPMENT.split('.')[1] }} (Development)</h2>
    

    <p>GIMP releases available from gimp.org and its <a href="/donating/sponsors.html">mirrors</a> contain the source code and have to be compiled in order to be installed on your system.</p>

    <p>For instructions, how to build GIMP from source code, please see <a href='/source/'>this page</a>.</p>

    <p>GIMP {{ GIMP_VERSION_DEVELOPMENT }} is now available at <a href='//download.gimp.org/gimp/v{{ GIMP_VERSION_DEVELOPMENT.split('.')[0] }}.{{ GIMP_VERSION_DEVELOPMENT.split('.')[1] }}/'>https://download.gimp.org/gimp/v{{ GIMP_VERSION_DEVELOPMENT.split('.')[0] }}.{{ GIMP_VERSION_DEVELOPMENT.split('.')[1] }}/</a>.
    </p>

    <p>To allow you to check the integrity of the tarballs, here are the  sums of the latest releases:</p>

    {% if GIMP.DEVELOPMENT %}
        <dl>
        {% for values in GIMP.DEVELOPMENT %}
            {% if 'source' in values %}
              <dt><strong>{{ values['source'][0]['filename'] }}</strong>
              {% if 'sha256' in values['source'][0] %}
              (sha256): </dt>
              <dd><kbd>{{ values['source'][0]['sha256'] }}</kbd></dd>
              {% elif 'sha512' in values['source'][0] %}
              (sha512): </dt>
              <dd><kbd>{{ values['source'][0]['sha512'] }}</kbd></dd>
              {% elif 'md5' in values['source'][0] %}
              (md5): </dt>
              <dd><kbd>{{ values['source'][0]['md5'] }}</kbd></dd>
              {% endif %}
            {% endif %}
        {% endfor %}
        </dl>
    {% endif %}

    <p>
        GIMP help files are available at <a href='//download.gimp.org/gimp/help/'>https://download.gimp.org/gimp/help/</a>.
    </p>

    </div>

    {% else %}
    <p>
    No recent development version of GIMP available
    </p>
    {% endif %}


    <script src='/js/platform.js'></script>
    <script src='/js/platform-display.js'></script>

    <script src='/js/downloads.js'></script>

{% endblock data %}
