{% extends "page.html" %}

{#
    We've switched to using the GIMP_VERSIONS json file.
    Access it using GIMP.###
#}

{% block head %}
{{ super() }}
        <link rel='stylesheet' type='text/css' href='/theme/css/downloads.css' />
{% endblock %}

{% block data %}

    <figure>
    <img src="downloadsplash-aryeom.jpg" alt="Download Splash Image courtesy of Aryeom" />
    </figure>

    <h2>Current Stable Version</h2>
    <p>The current stable release of GIMP is <b>{{ GIMP_VERSION }}</b> ({{ RELEASE_DATE }}).</p>

    {% if GIMP_VERSION_DEVELOPMENT is defined %}
    <p>Pssst... want to check out the GIMP {{ GIMP_VERSION_DEVELOPMENT }} development release?<br />Get it on our <a href="/downloads/devel/">development downloads page</a>.</p>
    {% endif %}

    <div class="OSTEST">
        <p id='OS-choice'>
            Show downloads for
            <span class="show_links" id='os_linux'>GNU/Linux</span>&nbsp;|
            <span class="show_links" id='os_mac'>OS&nbsp;X</span>&nbsp;|
            <span class="show_links" id='os_win'>Microsoft&nbsp;Windows</span>&nbsp;|
            <span class="show_links" id='os_all'>All</span>

            <br />

            <small>
              (we think your OS is
              <span id="pOSTEST">
                  …
                  <sub>
                  Well, we don't actually know.
                  Either JavaScript is disabled, or I am not working quite right…
                  So I am showing you all the options
                  </sub>
              </span>)
            </small>
        </p>

    </div>

    <div id='linux' class="os linux" markdown='1'>
        <h2>GIMP for Unix-like systems</h2>
        <p>
        <strong>
        If available, the official package from your Unix-like
        distribution is the recommended method of installing GIMP!</strong>
        </p>
        <p>
        The flatpak build is new and has known limitations, though it
        will likely provide faster updates, following GIMP releases
        closely.
        <br />
        Therefore choose your installation medium according to your
        needs.
        </p>

        <p>
            <span class='download-button'>
                <a href="https://flathub.org/repo/appstream/org.gimp.GIMP.flatpakref">
                    Install GIMP flatpak
                </a>
            </span>
        </p>
        <p>
        Flatpak build available in: <strong>i386, x86-64, ARM and AArch64</strong>.
        </p>

        <h3>Flatpak additional instructions</h3>
	<p>The flatpak link above should open your software installer
        and prompt you to install GIMP. Yet it may not work
        out-of-the-box on some platforms since the flatpak technology is
        new. If that is the case, <a
        href="https://flatpak.org/getting.html">ensure flatpak is
        installed</a> and if clicking the link still does not prompt to
        install GIMP, then manually install by command line: </p>
        <p>
        <code>flatpak install https://flathub.org/repo/appstream/org.gimp.GIMP.flatpakref</code>
        </p>
        <p>
        Once installed, it will be made available exactly the same way
        as other applications (menus, desktop overview, or any specific
        application launch process used by your desktop).
        <br/>
        If this is not the case, we suggest to report a bug to your
        desktop or distribution asking for proper support of flatpak. In
        the meantime, you can still run it by command line (not as the
        recommended method, only a workaround):
        </p>
        <p>
        <code>flatpak run org.gimp.GIMP//stable</code>
        </p>
        <p>
        This installation will also provide regular update. You don't
        have to come back on this page and install again (it will not
        work!) when a new version of GIMP is released. Instead if your
        distribution and/or desktop has a good support for flatpak, it
        should propose to perform updates.
        <br/>
        Once again, if your distribution does not have proper support,
        you can always fall back to using the following command line:
        </p>
        <p>
        <code>flatpak update</code>
        </p>
        <h3>Systems without flatpak support</h3>
        <p>
            GIMP can also run on Solaris and is available for the BSD family of systems such as FreeBSD and OpenBSD.
        </p>

        <p>
            Please refer to the documentation for your Unix-like system on the installation of software.
        </p>

    </div>


    <div id='mac' class="os mac" markdown="1">
        <h2>GIMP for macOS</h2>

        {% if MACOS_FILE is defined %}

        {% if MACOS_VER != GIMP_VERSION %}
        <p>Note: the currently available package provides GIMP {{ MACOS_VER }} and has not yet updated to the latest version, GIMP {{ GIMP_VERSION }}. We're working on that, please check back later.</p>
        {% endif %}

        {% if MACOS_COMMENT is defined %}
        <small>
          <p id='download-comment'>
            <strong>Updated on {{ MACOS_DATE }}: GIMP {{ MACOS_VER }} DMG revision {{ MACOS_REVISION }}</strong> </br>
            {{ MACOS_COMMENT }}
          </p>
        </small>
        {% endif %}

        <p>
            <span class='download-button' id='download-torrent'>
                <a href="//download.gimp.org/gimp/v{{ MACOS_MAJOR_MINOR_VER }}/osx/{{ MACOS_FILE }}.torrent">
                    Download GIMP&nbsp;{{ MACOS_VER }}<br/>
                    via BitTorrent
                </a>
            </span>
            <span class='download-button'>
                <a href="//download.gimp.org/gimp/v{{ MACOS_MAJOR_MINOR_VER }}/osx/{{ MACOS_FILE }}">
                    Download GIMP&nbsp;{{ MACOS_VER }}<br/>
                    directly
                </a>
            </span>
        </p>

        <small>
            <p>
                The download links above will attempt to download GIMP from one of our trusted <a href="/donating/sponsors.html">mirror servers</a>.
                If the mirrors do not work or you would rather download directly from our server, you can get the <a
                href='//download.gimp.org/gimp/v{{ MACOS_MAJOR_MINOR_VER }}/osx/'>direct download here</a>.
            </p>
        </small>

        {% if MACOS_MIN_SUPPORT is defined %}
        <p>
            Supported OS: <strong>{{ MACOS_MIN_SUPPORT }}</strong> or over
        </p>
        {% endif %}

        <p>Since the 2.8.2 version, GIMP runs on OSX natively. No X11 environment is required.</p>

        <h3>Native build</h3>

        <p>The official GIMP {{ MACOS_MAJOR_MINOR_VER }} DMG installer (linked above) is a stock GIMP build without any add-ons. Just open the downloaded DMG and drag and drop GIMP into your "Applications" folder.</p>
        <p>
            The {{MACOS_HASH_FUN.upper() }} hash sum for <code>{{ MACOS_FILE }}</code> is:
            <kbd>{{ MACOS_HASH }}</kbd>
        </p>
	<p>
	  Check it on
	  <a href="https://www.virustotal.com/">VirusTotal</a>:
	  <a href="https://www.virustotal.com/#/file/{{ MACOS_HASH }}/detection">{{ MACOS_FILE }}</a>
	</p>

        {% else %}
            <p>
            There is no macOS package yet, sorry. Please check back later.
            </p>
        {% endif %}


        <h3>Older Downloads</h3>
        <!-- <p>Previous installers for OSX can be found here: <a href='//download.gimp.org/gimp/v{{ MACOS_MAJOR_MINOR_VER }}/osx/'>download.gimp.org</a>.</p> -->
        <p>Previous installers for OSX can be found here: <a href='//download.gimp.org/gimp/v2.8/osx/'>download.gimp.org</a>.</p>



        <h3>Macports</h3>
        <p>
            An easy way to compile and install GIMP and other great <a href="https://www.gnu.org/philosophy/free-sw.html">Free software</a> on your Mac is by using <a href="https://www.macports.org/">Macports</a>. The installer allows you to choose from a large directory of packages. To install gimp using Macports, you simply do <code>sudo port install gimp</code> once you have Macports installed.
        </p>

        <p>
            Last we checked, the <a href="https://github.com/macports/macports-ports/blob/master/graphics/gimp/Portfile">GIMP
            port file</a> pointed to the current stable release
            and we have reports from people who've built GIMP
            successfully this way.
        </p>

        <ul>
            <li><a href="https://www.macports.org/">Download Macports</a></li>
        </ul>



        <h3>Homebrew</h3>
        <p>
            Homebrew is similar to Macports and provides packages (aka formulas) to install, either by compiling them from source or by using pre-made binaries. There are indications that there is now a formula for GIMP, installable with: <code>brew tap homebrew/cask && brew cask install gimp</code>.
        </p>

        <ul>
            <li>
                <a href="https://brew.sh/">Download Homebrew</a>
            </li>
        </ul>
        <p>
            <b>NOTE!</b> Please be aware that it was announced recently that Homebrew is using analytics.
            To turn this off in homebrew then run: <code>brew analytics off</code><br>
            You can read more about this on <a href="https://docs.brew.sh/Analytics">Brew Analytics</a>.
        </p>



        <h3>Fink</h3>
        <p>
            Fink is a package repository that offer mostly precompiled binaries. It provides the apt-get command known to e.g. Debian and Ubuntu users, and installing GIMP is as easy as <code>sudo apt-get install gimp</code> once you have installed the <a href="http://www.finkproject.org/download/index.php">Fink installer</a>.
        <br>
        If there's no binary package, then <code>fink install gimp</code> will compile GIMP from source.
        </p>

        <p>
            Disclaimer: we haven't been able to determine if it is
            possible to install or build recent GIMP from Fink.
            Last we checked, GIMP 2.6.12 appears to be the most recent <a href="http://pdb.finkproject.org/pdb/browse.php?summary=gimp">GIMP package</a> that is <a href="http://pdb.finkproject.org/pdb/package.php/gimp2">offered there</a>.
        </p>

        <ul>
            <li>
                <a href="http://www.finkproject.org/">Download Fink</a>
            </li>
        </ul>

    </div>



    <div id='win' class="os win" markdown="1">
    <h2>GIMP for Windows</h2>

    {% if WINDOWS_FILE is defined %}

    {% if WINDOWS_VER != GIMP_VERSION %}
    <p>
        Note: the currently available package provides GIMP {{ WINDOWS_VER }} and has <em>not yet been updated to the latest version</em>, GIMP {{ GIMP_VERSION}}. We're working on it, please check back later.
    </p>
    {% endif %}

    {% if WINDOWS_COMMENT is defined %}
    <small>
        <p id='download-comment'>
            <strong>Updated on {{ WINDOWS_DATE }}: GIMP {{ WINDOWS_VER }} installer revision {{ WINDOWS_REVISION }}</strong> </br>
            {{ WINDOWS_COMMENT }}
        </p>
    </small>
    {% endif %}

    <p>
        <span class='download-button' id='download-torrent'>
            <a
            href="//download.gimp.org/gimp/v{{ WINDOWS_MAJOR_MINOR_VER }}/windows/{{ WINDOWS_FILE }}.torrent"
            title="Download GIMP via BitTorrent" id="download-torrent-link">
                Download GIMP&nbsp;{{ WINDOWS_VER }}<br/>
                via BitTorrent
            </a>
        </span>
        <span class='download-button'>
            <a
            href="//download.gimp.org/gimp/v{{ WINDOWS_MAJOR_MINOR_VER }}/windows/{{ WINDOWS_FILE }}"
            title="Download GIMP via HTTP" id='win-download-link' >
                Download GIMP&nbsp;{{ WINDOWS_VER }}<br/>
                directly
            </a>
        </span>
    </p>



    <small>
        <p>
            The download links above will attempt to download GIMP from one of our trusted <a href="/donating/sponsors.html">mirror servers</a>.
            If the mirrors do not work or you would rather download directly from our server, you can get the <a href="//download.gimp.org/gimp/v{{ WINDOWS_MAJOR_MINOR_VER }}/windows/">direct download here</a>.
        </p>
    </small>

    {% if WINDOWS_MIN_SUPPORT is defined %}
    <p>
        Supported OS: <strong>{{ WINDOWS_MIN_SUPPORT }}</strong> or over
    </p>
    {% endif %}
    <p>
        These links download the official GIMP installer for Windows (~200 MB).
        The installer contains both 32-bit and 64-bit versions of GIMP, and will automatically use the appropriate one.
        <!-- The installer contains the 64-bit version of GIMP. -->
    </p>

    <p>
        BitTorrent is a peer-to-peer file sharing system. It works by downloading GIMP from a distributed network of BitTorrent users, and may improve download speed dramatically.
        Choosing this option will download the torrent file for the GIMP installer.
        You may need to install a torrent client to make use of this file. <a href="//en.wikipedia.org/wiki/BitTorrent" title="BitTorrent on Wikipedia">Learn more...</a>
    </p>

    <h3>Hash Sum</h3>
    <p>
        The {{ WINDOWS_HASH_FUN.upper() }} hash sum for <code>{{ WINDOWS_FILE }}</code> is:
        <kbd>{{ WINDOWS_HASH }}</kbd>
    </p>
    <p>
      Check it on
      <a href="https://www.virustotal.com/">VirusTotal</a>:
      <a href="https://www.virustotal.com/#/file/{{ WINDOWS_HASH }}/detection">{{ WINDOWS_FILE }}</a>
    </p>

    {% else %}
        <p>
        There is no Windows installer yet, sorry. Please check back later.
        </p>
    {% endif %}

    <h3>Older Downloads</h3>
    <ul>
        <li>
            Previous v{{ WINDOWS_MAJOR_MINOR_VER }} installers for Windows can be found here: <a href='//download.gimp.org/gimp/v{{ WINDOWS_MAJOR_MINOR_VER }}/windows/'>download.gimp.org</a>.
        </li>
        <li>
            Previous v{{ GIMP_MAJOR_MINOR_VERSION_OLDSTABLE }} installers for Windows can be found here: <a href='//download.gimp.org/gimp/v{{ GIMP_MAJOR_MINOR_VERSION_OLDSTABLE }}/windows/'>download.gimp.org</a>.
        </li>
    </ul>

    <h3>GIMP User Manual</h3>
    <p>
        These links download language-specific Windows installers for GIMP's local help.
        By default, they will place the help files with your GIMP installation.
    </p>

    <p>
        Note: GIMP uses online help by default. If you want to use this local help offline, you will need to change GIMP's help settings.
    </p>

    <ol>
        <li>In GIMP, select [Edit] > [Preferences] > [Help System]</li>
        <li>For "User manual", select "Use a locally installed copy"</li>
        <li>Under "Help Browser", you can choose between your system's web browser and GIMP's help browser plugin (if available).</li>
    </ol>

    <p>
        See the <a href='//docs.gimp.org/2.10/en/gimp-pimping.html#gimp-prefs-help'>online help</a> for more settings.
    </p>

    <ul>
        <li><a href='//download.gimp.org/gimp/help/windows/2.10/gimp-help-2.10.0-zh_CN-setup.exe'>Chinese Simplified</a> (39 MB)</li>
        <li><a href='//download.gimp.org/gimp/help/windows/2.10/gimp-help-2.10.0-ca-setup.exe'>Catalan</a> (40 MB)</li>
        <li><a href='//download.gimp.org/gimp/help/windows/2.10/gimp-help-2.10.0-da-setup.exe'>Danish</a> (39 MB)</li>
        <li><a href='//download.gimp.org/gimp/help/windows/2.10/gimp-help-2.10.0-nl-setup.exe'>Dutch</a> (39 MB)</li>
        <li><a href='//download.gimp.org/gimp/help/windows/2.10/gimp-help-2.10.0-en-setup.exe'>English</a> (39 MB)</li>
        <li><a href='//download.gimp.org/gimp/help/windows/2.10/gimp-help-2.10.0-en_GB-setup.exe'>English (United Kingdom)</a> (39 MB)</li>
        <li><a href='//download.gimp.org/gimp/help/windows/2.10/gimp-help-2.10.0-fi-setup.exe'>Finnish</a> (39 MB)</li>
        <li><a href='//download.gimp.org/gimp/help/windows/2.10/gimp-help-2.10.0-fr-setup.exe'>French</a> (41 MB)</li>
        <li><a href='//download.gimp.org/gimp/help/windows/2.10/gimp-help-2.10.0-de-setup.exe'>German</a> (41 MB)</li>
        <li><a href='//download.gimp.org/gimp/help/windows/2.10/gimp-help-2.10.0-el-setup.exe'>Greek</a> (38 MB)</li>
        <li><a href='//download.gimp.org/gimp/help/windows/2.10/gimp-help-2.10.0-it-setup.exe'>Italian</a> (43 MB)</li>
        <li><a href='//download.gimp.org/gimp/help/windows/2.10/gimp-help-2.10.0-ja-setup.exe'>Japanese</a> (39 MB)</li>
        <li><a href='//download.gimp.org/gimp/help/windows/2.10/gimp-help-2.10.0-ko-setup.exe'>Korean</a> (40 MB)</li>
        <li><a href='//download.gimp.org/gimp/help/windows/2.10/gimp-help-2.10.0-nn-setup.exe'>Norwegian Nynorsk</a> (35 MB)</li>
        <li><a href='//download.gimp.org/gimp/help/windows/2.10/gimp-help-2.10.0-pt_BR-setup.exe'>Portuguese Brazilian</a> (40 MB)</li>
        <li><a href='//download.gimp.org/gimp/help/windows/2.10/gimp-help-2.10.0-ro-setup.exe'>Romanian</a> (39 MB)</li>
        <li><a href='//download.gimp.org/gimp/help/windows/2.10/gimp-help-2.10.0-ru-setup.exe'>Russian</a> (40 MB)</li>
        <li><a href='//download.gimp.org/gimp/help/windows/2.10/gimp-help-2.10.0-es-setup.exe'>Spanish</a> (40 MB)</li>
    </ul>

    </div>

    <hr>

    <div id='source'>
    <h2>Source for version {{ GIMP_MAJOR_MINOR_VERSION }} (Stable)</h2>

    <p>GIMP releases available from gimp.org and its <a href="/donating/sponsors.html">mirrors</a> contain the source code and have to be compiled in order to be installed on your system.</p>

    <p>For instructions, how to build GIMP from source code, please see <a href='/source/'>this page</a>.</p>

    <p>GIMP {{ GIMP_VERSION }} is now available at <a
    href='//download.gimp.org/gimp/v{{ GIMP_MAJOR_MINOR_VERSION }}/'>https://download.gimp.org/gimp/v{{ GIMP_MAJOR_MINOR_VERSION }}/</a>. You may want to read the <a
    href='/release-notes/gimp-{{ GIMP_MAJOR_MINOR_VERSION }}.html'>Release Notes for GIMP {{ GIMP_MAJOR_MINOR_VERSION }}</a>.</p>

    <p>To allow you to check the integrity of the tarballs, here are the hashes of the latest releases:</p>

    {% if GIMP.STABLE %}
        <dl>
        {% for values in GIMP.STABLE %}
            {% if 'source' in values %}
              <dt><strong>{{ values['source'][0]['filename'] }}</strong>
              {% if 'sha256' in values['source'][0] %}
              (sha256): </dt>
              <dd><kbd>{{ values['source'][0]['sha256'] }}</kbd></dd>
              {% elif 'sha512' in values['source'][0] %}
              (sha512): </dt>
              <dd><kbd>{{ values['source'][0]['sha512'] }}</kbd></dd>
              {% elif 'md5' in values['source'][0] %}
              (md5): </dt>
              <dd><kbd>{{ values['source'][0]['md5'] }}</kbd></dd>
              {% endif %}
            {% endif %}
        {% endfor %}
        </dl>
    {% endif %}


    <p>
        GIMP help files are available at <a href='//download.gimp.org/gimp/help/'>https://download.gimp.org/gimp/help/</a>.
    </p>

    <p>
        Please consider using one of the mirrors listed below.
    </p>

    <h2>Development snapshots</h2>

    <p>We now have a separate page for development versions of GIMP.</p>
     <p>Want to check out the GIMP {{ GIMP_VERSION_DEVELOPMENT }} development release?<br />Get it on our <a href="/downloads/devel/">development downloads page</a>.</p>

    </div>

    <script src='/js/platform.js'></script>
    <script src='/js/platform-display.js'></script>


{% endblock data %}
