{% extends "page.html" %}

{#
    We've switched to using the GIMP_VERSIONS json file.
    Access it using GIMP.###
#}

{% block head %}
{{ super() }}
        <link rel='stylesheet' type='text/css' href='/theme/css/downloads.css' />
{% endblock %}

{% block data %}

    <figure>
    <img src="downloadsplash-aryeom.jpg" alt="Download Splash Image courtesy of Aryeom" />
    </figure>

    <h2>Previous Stable Version</h2>
    <p>The previous stable release of GIMP was <b>{{ GIMP_VERSION_OLDSTABLE }}</b> ({{ RELEASE_DATE_OLDSTABLE }}).</p>

    {% if GIMP_VERSION is defined %}
    <p>If you're looking for the current stable GIMP {{ GIMP_VERSION }} release instead, you can find it on our <a href="/downloads/">downloads page</a>.</p>
    {% endif %}

    <div class="OSTEST">
        <p id='OS-choice'>
            Show downloads for
            <span class="show_links" id='os_linux'>GNU/Linux</span>&nbsp;|
            <span class="show_links" id='os_mac'>macOS</span>&nbsp;|
            <span class="show_links" id='os_win'>Microsoft&nbsp;Windows</span>&nbsp;|
            <span class="show_links" id='os_all'>All</span>

            <br />

            <small>
              (we think your OS is
              <span id="pOSTEST">
                  …
                  <sub>
                  Well, we don't actually know.
                  Either JavaScript is disabled, or I am not working quite right…
                  So I am showing you all the options
                  </sub>
              </span>)
            </small>
        </p>

    </div>

    <div id='linux' class="os linux" markdown='1'>
        <h2>GIMP for Unix-like systems</h2>
        <p>
            <span class='download-button'>
                <a href="https://flathub.org/repo/appstream/org.gimp.GIMP.flatpakref">
                    Install GIMP flatpak
                </a>
            </span>
        </p>

	<p>The flatpak link above should open your software installer and prompt you to install GIMP (available platforms: i386, x86-64, ARM and AArch64). It may not work out-of-the-box on some platforms since the flatpak technology is new. If that is the case, <a href="https://flatpak.org/getting.html">ensure flatpak is installed</a> and if clicking the link still does not prompt to install GIMP, then manually install by command line: </p>
    <p>
    <code>flatpak install https://flathub.org/repo/appstream/org.gimp.GIMP.flatpakref</code>
    </p>
    <p>The flatpak build is very new and therefore may have shortcomings. It's very likely your Unix-like system distribution already comes with a GIMP package. It is the preferred method of installing GIMP, as the distribution maintainers take care of all the dependencies and bug fix updates. Nevertheless, note that many distros decide to pin a specific version of GIMP to their releases, whereas our flatpak will follow GIMP releases closely.</p>

        <p>
            GIMP can also run on Solaris and is available for the BSD family of systems such as FreeBSD and OpenBSD.
        </p>

        <p>
            Please refer to the documentation for your Unix-like system on the installation of software.
        </p>

    </div>


    <div id='mac' class="os mac" markdown="1">
        <h2>GIMP for macOS</h2>

        {% if MACOS_FILE_OLDSTABLE is defined %}
        <p>
            <span class='download-button' id='download-torrent'>
                <a href="//download.gimp.org/gimp/v{{ MACOS_MAJOR_MINOR_VER_OLDSTABLE }}/osx/{{ MACOS_FILE_OLDSTABLE }}.torrent">
                    Download GIMP&nbsp;{{ MACOS_VER_OLDSTABLE }}<br/>
                    via BitTorrent
                </a>
            </span>
            <span class='download-button'>
                <a href="//download.gimp.org/gimp/v{{ MACOS_MAJOR_MINOR_VER_OLDSTABLE }}/osx/{{ MACOS_FILE_OLDSTABLE }}">
                    Download GIMP&nbsp;{{ MACOS_VER_OLDSTABLE }}<br/>
                    directly
                </a>
            </span>
        </p>

        <small>
            <p>
                The download links above will attempt to download GIMP from one of our trusted <a href="/donating/sponsors.html">mirror servers</a>.
                If the mirrors do not work or you would rather download directly from our server, you can get the <a
                href='//download.gimp.org/gimp/v{{ MACOS_MAJOR_MINOR_VER_OLDSTABLE }}/osx/'>direct download here</a>.
            </p>
        </small>

        <p>Since the 2.8.2 version, GIMP runs on macOS/OSX natively. No X11 environment is required.</p>

        <h3>Native build</h3>

        <p>The official GIMP {{ MACOS_MAJOR_MINOR_VER_OLDSTABLE }} DMG installer (linked above) is a stock GIMP build without any add-ons. It works on OS X 10.6 Snow Leopard and later. Just open the downloaded DMG and drag and drop GIMP into your "Applications" folder.</p>
        <p>
            The MD5 hash sum for <code>{{ MACOS_FILE_OLDSTABLE }}</code> is:
            <kbd>{{ MACOS_HASH_OLDSTABLE }}</kbd>
        </p>

        {% else %}
            <p>
            There is no macOS package yet, sorry. Please check back later.
            </p>
        {% endif %}


        <h3>Older Downloads</h3>
        <!-- <p>Previous installers for OSX can be found here: <a href='//download.gimp.org/gimp/v{{ MACOS_MAJOR_MINOR_VER_OLDSTABLE }}/osx/'>download.gimp.org</a>.</p> -->
        <p>Previous installers for macOS/OSX can be found here: <a href='//download.gimp.org/gimp/v2.8/osx/'>download.gimp.org</a>.</p>



        <h3>Macports</h3>
        <p>
            An easy way to compile and install GIMP and other great <a href="https://www.gnu.org/philosophy/free-sw.html">Free software</a> on your Mac is by using <a href="https://www.macports.org/">Macports</a>. The installer allows you to choose from a large directory of packages. To install gimp using Macports, you simply do <code>sudo port install gimp</code> once you have Macports installed.
        </p>

        <p>
            Last we checked, the <a href="https://github.com/macports/macports-ports/blob/master/graphics/gimp/Portfile">GIMP
            port file</a> pointed to the current stable release
            and we have reports from people who've built GIMP
            successfully this way.
        </p>

        <ul>
            <li><a href="https://www.macports.org/">Download Macports</a></li>
        </ul>



        <h3>Homebrew</h3>
        <p>
            Homebrew is similar to Macports and provides packages (aka formulas) to install, either by compiling them from source or by using pre-made binaries. There are indications that there is now a formula for GIMP, installable with: <code>brew tap caskroom/cask && brew cask install gimp</code>.
        </p>

        <ul>
            <li>
                <a href="https://brew.sh/">Download Homebrew</a>
            </li>
        </ul>



        <h3>Fink</h3>
        <p>
            Fink is a package repository that offer mostly precompiled binaries. It provides the apt-get command known to e.g. Debian and Ubuntu users, and installing GIMP is as easy as <code>sudo apt-get install gimp</code> once you have installed the <a href="http://www.finkproject.org/download/index.php">Fink installer</a>.
        <br>
        If there's no binary package, then <code>fink install gimp</code> will compile GIMP from source.
        </p>

        <p>
            Disclaimer: we haven't been able to determine if it is
            possible to install or build recent GIMP from Fink.
            Last we checked, GIMP 2.6.12 appears to be the most recent <a href="http://pdb.finkproject.org/pdb/browse.php?summary=gimp">GIMP package</a> that is <a href="http://pdb.finkproject.org/pdb/package.php/gimp2">offered there</a>.
        </p>

        <ul>
            <li>
                <a href="http://www.finkproject.org/">Download Fink</a>
            </li>
        </ul>

    </div>



    <div id='win' class="os win" markdown="1">
    <h2>GIMP for Windows</h2>

    {% if WINDOWS_FILE_OLDSTABLE is defined %}
    <p>
        <span class='download-button' id='download-torrent'>
            <a
            href="//download.gimp.org/gimp/v{{ WINDOWS_MAJOR_MINOR_VER_OLDSTABLE }}/windows/{{ WINDOWS_FILE_OLDSTABLE }}.torrent"
            title="Download GIMP via BitTorrent" id="download-torrent-link">
                Download GIMP&nbsp;{{ WINDOWS_VER_OLDSTABLE }}<br/>
                via BitTorrent
            </a>
        </span>
        <span class='download-button'>
            <a
            href="//download.gimp.org/gimp/v{{ WINDOWS_MAJOR_MINOR_VER_OLDSTABLE }}/windows/{{ WINDOWS_FILE_OLDSTABLE }}"
            title="Download GIMP via HTTP" id='win-download-link' >
                Download GIMP&nbsp;{{ WINDOWS_VER_OLDSTABLE }}<br/>
                directly
            </a>
        </span>
    </p>

    <small>
        <p>
            The download links above will attempt to download GIMP from one of our trusted <a href="/donating/sponsors.html">mirror servers</a>.
            If the mirrors do not work or you would rather download directly from our server, you can get the <a href="//download.gimp.org/gimp/v{{ WINDOWS_MAJOR_MINOR_VER_OLDSTABLE }}/windows/">direct download here</a>.
        </p>
    </small>

    <p>
        These links download the official GIMP installer for Windows (~140-150 MB).
        The installer contains both 32-bit and 64-bit versions of GIMP, and will automatically use the appropriate one.
        <!-- The installer contains the 64-bit version of GIMP. -->
    </p>

    <p>
        BitTorrent is a peer-to-peer file sharing system. It works by downloading GIMP from a distributed network of BitTorrent users, and may improve download speed dramatically.
        Choosing this option will download the torrent file for the GIMP installer.
        You may need to install a torrent client to make use of this file. <a href="//en.wikipedia.org/wiki/BitTorrent" title="BitTorrent on Wikipedia">Learn more...</a>
    </p>

    <h3>MD5 Hash Sum</h3>
    <p>
        The MD5 hash sum for <code>{{ WINDOWS_FILE_OLDSTABLE }}</code> is: <kbd>{{ WINDOWS_HASH_OLDSTABLE }}</kbd>
    </p>

    {% else %}
        <p>
        There is no Windows installer yet, sorry. Please check back later.
        </p>
    {% endif %}

    <h3>Older Downloads</h3>
    <p>
        Previous installers for Windows can be found here: <a href='//download.gimp.org/gimp/v{{ WINDOWS_MAJOR_MINOR_VER_OLDSTABLE }}/windows/'>download.gimp.org</a>.
    </p>

    <h3>GIMP User Manual</h3>
    <p>
        These links download language-specific Windows installers for GIMP's local help.
        By default, they will place the help files with your GIMP installation.
    </p>

    <p>
        Note: GIMP uses online help by default. If you want to use this local help offline, you will need to change GIMP's help settings.
    </p>

    <ol>
        <li>In GIMP, select [Edit] > [Preferences] > [Help System]</li>
        <li>For "User manual", select "Use a locally installed copy"</li>
        <li>Under "Help Browser", you can choose between your system's web browser and GIMP's help browser plugin (if available).</li>
    </ol>

    <p>
        See the <a href='//docs.gimp.org/2.8/en/gimp-pimping.html#gimp-prefs-help'>online help</a> for more settings.
    </p>

    <ul>
        <li><a href='//download.gimp.org/gimp/help/windows/2.8/2.8.2/gimp-help-2-2.8.2-zh_CN-setup.exe'>Chinese Simplified</a> (24.3 MB)</li>
        <li><a href='//download.gimp.org/gimp/help/windows/2.8/2.8.2/gimp-help-2-2.8.2-ca-setup.exe'>Catalan</a> (24.2 MB)</li>
        <li><a href='//download.gimp.org/gimp/help/windows/2.8/2.8.2/gimp-help-2-2.8.2-da-setup.exe'>Danish</a> (24.2 MB)</li>
        <li><a href='//download.gimp.org/gimp/help/windows/2.8/2.8.2/gimp-help-2-2.8.2-nl-setup.exe'>Dutch</a> (24.3 MB)</li>
        <li><a href='//download.gimp.org/gimp/help/windows/2.8/2.8.2/gimp-help-2-2.8.2-en-setup.exe'>English</a> (24.2 MB)</li>
        <li><a href='//download.gimp.org/gimp/help/windows/2.8/2.8.2/gimp-help-2-2.8.2-en_GB-setup.exe'>English (United Kingdom)</a> (24.2 MB)</li>
        <li><a href='//download.gimp.org/gimp/help/windows/2.8/2.8.2/gimp-help-2-2.8.2-fr-setup.exe'>French</a> (25.7 MB)</li>
        <li><a href='//download.gimp.org/gimp/help/windows/2.8/2.8.2/gimp-help-2-2.8.2-de-setup.exe'>German</a> (28.0 MB)</li>
        <li><a href='//download.gimp.org/gimp/help/windows/2.8/2.8.2/gimp-help-2-2.8.2-el-setup.exe'>Greek</a> (24.0 MB)</li>
        <li><a href='//download.gimp.org/gimp/help/windows/2.8/2.8.2/gimp-help-2-2.8.2-it-setup.exe'>Italian</a> (30.2 MB)</li>
        <li><a href='//download.gimp.org/gimp/help/windows/2.8/2.8.2/gimp-help-2-2.8.2-ja-setup.exe'>Japanese</a> (23.6 MB)</li>
        <li><a href='//download.gimp.org/gimp/help/windows/2.8/2.8.2/gimp-help-2-2.8.2-ko-setup.exe'>Korean</a> (24.9 MB)</li>
        <li><a href='//download.gimp.org/gimp/help/windows/2.8/2.8.2/gimp-help-2-2.8.2-nn-setup.exe'>Norwegian Nynorsk</a> (20.9 MB)</li>
        <li><a href='//download.gimp.org/gimp/help/windows/2.8/2.8.2/gimp-help-2-2.8.2-ru-setup.exe'>Russian</a> (24.9 MB)</li>
        <li><a href='//download.gimp.org/gimp/help/windows/2.8/2.8.2/gimp-help-2-2.8.2-sl-setup.exe'>Slovenian</a> (24.3 MB)</li>
        <li><a href='//download.gimp.org/gimp/help/windows/2.8/2.8.2/gimp-help-2-2.8.2-es-setup.exe'>Spanish</a> (24.9 MB)</li>
        <li><a href='//download.gimp.org/gimp/help/windows/2.8/2.8.2/gimp-help-2-2.8.2-sv-setup.exe'>Swedish</a> (24.7 MB)</li>
    </ul>

    </div>

    <hr>

    <div id='source'>
    <h2>Source for version {{ GIMP_MAJOR_MINOR_VERSION_OLDSTABLE }} (Stable)</h2>

    <p>GIMP releases available from gimp.org and its <a href="/donating/sponsors.html">mirrors</a> contain the source code and have to be compiled in order to be installed on your system.</p>

    <p>For instructions, how to build GIMP from source code, please see <a href='/source/'>this page</a>.</p>

    <p>GIMP {{ GIMP_VERSION_OLDSTABLE }} is now available at <a
    href='//download.gimp.org/gimp/v{{ GIMP_MAJOR_MINOR_VERSION_OLDSTABLE }}/'>https://download.gimp.org/gimp/v{{ GIMP_MAJOR_MINOR_VERSION_OLDSTABLE }}/</a>. You may want to read the <a
    href='/release-notes/gimp-{{ GIMP_MAJOR_MINOR_VERSION_OLDSTABLE }}.html'>Release Notes for GIMP {{ GIMP_MAJOR_MINOR_VERSION_OLDSTABLE }}</a>.</p>

    <p>To allow you to check the integrity of the tarballs, here are the MD5 sums of the latest releases:</p>

    {% if GIMP.OLDSTABLE %}
        {% for values in GIMP.OLDSTABLE %}
            {% if 'source' in values %}
            <p>
                <strong>{{ values['source'][0]['filename'] }}</strong><br>
                <kbd>{{ values['source'][0]['md5'] }}</kbd>
            </p>
            {% endif %}
        {% endfor %}
    {% endif %}


    <p>
        GIMP help files are available at <a href='//download.gimp.org/gimp/help/'>https://download.gimp.org/gimp/help/</a>.
    </p>

    <p>
        Please consider using one of the mirrors listed below.
    </p>

    <h2>Development snapshots</h2>

    <p>We now have a separate page for development versions of GIMP.</p>
     <p>Want to check out the GIMP {{ GIMP_VERSION_DEVELOPMENT }} development release?<br />Get it on our <a href="/downloads/devel/">development downloads page</a>.</p>

    </div>

    <script src='/js/platform.js'></script>
    <script src='/js/platform-display.js'></script>

    <script src='/js/downloads.js'></script>

{% endblock data %}
