{% extends "page.html" %}

{#
    We've switched to using the GIMP_VERSIONS json file.
    Access it using GIMP.###
#}

{% block head %}
{{ super() }}
        <link rel='stylesheet' type='text/css' href='/theme/css/downloads.css' />
{% endblock %}

{% block data %}

    <figure>
    <img src="downloadsplash-aryeom.jpg" alt="Download Splash Image courtesy of Aryeom" />
    </figure>

    <h2>Current Stable Version</h2>
    <p>The current stable release of GIMP is <b>{{ GIMP_VERSION }}</b> ({{ RELEASE_DATE }}).</p>

    <div class="OSTEST">
        <p id='OS-choice'>
            Show downloads for
            <span class="show_links" id='os_linux'>GNU/Linux</span>&nbsp;|
            <span class="show_links" id='os_mac'>macOS</span>&nbsp;|
            <span class="show_links" id='os_win'>Microsoft&nbsp;Windows</span>&nbsp;|
            <span class="show_links" id='os_all'>All</span>

            <br />

            <small>
              (we think your OS is
              <span id="pOSTEST">
                  …
                  <sub>
                  Well, we don't actually know.
                  Either JavaScript is disabled, or I am not working quite right…
                  So I am showing you all the options
                  </sub>
              </span>)
            </small>
        </p>

    </div>

    <div id='linux' class="os linux" markdown='1'>
        <h2>GIMP for Unix-like systems</h2>

        <p class='buttons'>
            <span class='download-button'>
                <a href="https://flathub.org/repo/appstream/org.gimp.GIMP.flatpakref">
                    Install GIMP flatpak
                </a>
            </span>
        </p>
        <h3>Warnings and information</h3>
        <ul>
        <li><p>
        Flatpak build available in: <strong>x86-64 and AArch64</strong>
        (<em>note: i386 and ARM-32 versions used to be published, yet
        are now stuck at GIMP 2.10.14 and 2.10.22 respectively</em>).
        </p></li>
        <li>
        <p>
        <strong>
        If available, the official package from your Unix-like
        distribution is the recommended method of installing GIMP!</strong>
        </p>
        <p>
        The flatpak build is new and has known limitations, though it
        will likely provide faster updates, following GIMP releases
        closely.
        <br />
        Therefore choose your installation medium according to your
        needs.
        </p>
        </li>
        </ul>

        <h3>Flatpak additional instructions</h3>
	<p>The flatpak link above should open your software installer
        and prompt you to install GIMP. Yet it may not work
        out-of-the-box on some platforms since the flatpak technology is
        new. If that is the case, <a
        href="https://flatpak.org/getting.html">ensure flatpak is
        installed</a> and if clicking the link still does not prompt to
        install GIMP, then manually install by command line: </p>
        <p>
        <code>flatpak install https://flathub.org/repo/appstream/org.gimp.GIMP.flatpakref</code>
        </p>
        <p>
        Once installed, it will be made available exactly the same way
        as other applications (menus, desktop overview, or any specific
        application launch process used by your desktop).
        <br/>
        If this is not the case, we suggest to report a bug to your
        desktop or distribution asking for proper support of flatpak. In
        the meantime, you can still run it by command line (not as the
        recommended method, only a workaround):
        </p>
        <p>
        <code>flatpak run org.gimp.GIMP//stable</code>
        </p>
        <p>
        This installation will also provide regular update. You don't
        have to come back on this page and install again (it will not
        work!) when a new version of GIMP is released. Instead if your
        distribution and/or desktop has a good support for flatpak, it
        should propose to perform updates.
        <br/>
        Once again, if your distribution does not have proper support,
        you can always fall back to using the following command line:
        </p>
        <p>
        <code>flatpak update</code>
        </p>
        <h3>Systems without flatpak support</h3>
        <p>
            GIMP can also run on Solaris and is available for the BSD family of systems such as FreeBSD and OpenBSD.
        </p>

        <p>
            Please refer to the documentation for your Unix-like system on the installation of software.
        </p>

    </div>


    <div id='mac' class="os mac" markdown="1">
        <h2>GIMP for macOS</h2>

        {% if MACOS_X86_FILE is defined %}

        {% if MACOS_X86_VER != GIMP_VERSION %}
        <p><em>Note</em>: the currently available package provides GIMP {{
        MACOS_X86_VER }} and has not yet updated to the latest version, GIMP {{ GIMP_VERSION }}. We're working on that, please check back later.</p>
        {% endif %}

        {% if MACOS_X86_COMMENT is defined %}
        <small>
          <p id='download-comment'>
            <strong>Updated on {{ MACOS_X86_DATE }}: GIMP {{ MACOS_X86_VER }} DMG revision {{ MACOS_X86_REVISION }}</strong> </br>
            {{ MACOS_X86_COMMENT }}
          </p>
        </small>
        {% endif %}

        <p id='mac-x86_64-buttons' class='buttons'>
            <span class='download-button' id='download-torrent'>
                <a href="//download.gimp.org/gimp/v{{ MACOS_X86_MAJOR_MINOR_VER }}/macos/{{ MACOS_X86_FILE }}.torrent">
                    Download GIMP&nbsp;{{ MACOS_ARM64_VER }}<br/>for Intel<br/>
                    via BitTorrent
                </a>
            </span>
            <span class='download-button'>
                <a href="//download.gimp.org/gimp/v{{ MACOS_X86_MAJOR_MINOR_VER }}/macos/{{ MACOS_X86_FILE }}">
                    Download GIMP&nbsp;{{ MACOS_ARM64_VER }}<br/>for Intel<br/>
                    directly
                </a>
            </span>
            <br/>
            <span class="show_links" id="mac-show-arm64">
              Show downloads for <strong>ARM64 (Apple Silicon)</strong>
            </span>
        </p>
        <p id='mac-arm64-buttons' class='buttons'>
            <span class='download-button' id='download-torrent'>
                <a href="//download.gimp.org/gimp/v{{ MACOS_ARM64_MAJOR_MINOR_VER }}/macos/{{ MACOS_ARM64_FILE }}.torrent">
                    Download GIMP&nbsp;{{ MACOS_ARM64_VER }}<br/>for Apple Silicon<br/>
                    via BitTorrent
                </a>
            </span>
            <span class='download-button'>
                <a href="//download.gimp.org/gimp/v{{ MACOS_ARM64_MAJOR_MINOR_VER }}/macos/{{ MACOS_ARM64_FILE }}">
                    Download GIMP&nbsp;{{ MACOS_ARM64_VER }}<br/>for Apple Silicon<br/>
                    directly
                </a>
            </span>
            <br/>
            <span class="show_links" id="mac-show-x86_64">
              Show downloads for <strong>x86_64</strong>
            </span>
        </p>

        <h3>Warnings and information</h3>
        <ul>
          {% if MACOS_X86_MIN_SUPPORT is defined %}
          <li><p>Supported OS: <strong>{{ MACOS_X86_MIN_SUPPORT }}</strong> or newer</p></li>
          {% endif %}
          <li>
            <strong>!IMPORTANT! ⚠️ App Store:</strong> GIMP team does not
            provide any package on Apple's App Store at the moment.
            Any downloads on the store are created by third party and is
            not in anyway connected to the GIMP team. ☢️
          </li>
          <li><p>These are vanilla builds without any third-party add-ons. Just
          open the downloaded DMG and drag and drop GIMP into your
          "Applications" folder.</p></li>
          <li><p>Since version 2.8.2, GIMP runs on macOS/OSX natively. No X11
          environment is required.</p></li>
        </ul>

        <h3>Security</h3>

        <p>
          <ul>
            <li>
              {{ MACOS_ARM64_HASH_FUN.upper() }} hash sum for <code>{{ MACOS_ARM64_FILE }}</code>: <kbd>{{ MACOS_ARM64_HASH }}</kbd>
              <br/>
              Check it on <a href="https://www.virustotal.com/">VirusTotal</a>:
              <a href="https://www.virustotal.com/#/file/{{ MACOS_ARM64_HASH }}/detection">{{ MACOS_ARM64_FILE }}</a>
            </li>
            <li>
              {{ MACOS_X86_HASH_FUN.upper() }} hash sum for <code>{{ MACOS_X86_FILE }}</code>: <kbd>{{ MACOS_X86_HASH }}</kbd>
              <br/>
              Check it on <a href="https://www.virustotal.com/">VirusTotal</a>:
              <a href="https://www.virustotal.com/#/file/{{ MACOS_X86_HASH }}/detection">{{ MACOS_X86_FILE }}</a>
            </li>
          </ul>
        </p>

        {% else %}
            <p>
            There is no macOS package yet, sorry. Please check back later.
            </p>
        {% endif %}


        <h3>Older Downloads</h3>
        <p>Previous installers for macOS/OSX can be found on <a href='//download.gimp.org/gimp/v{{ MACOS_X86_MAJOR_MINOR_VER }}/osx/'>download.gimp.org</a>.</p>

        <h3>Third Party Downloads</h3>

        <p>
        Third party packages are not officially supported by the GIMP
        project. Therefore you should report issues to the packagers
        first, before reporting to the GIMP team.
        We only list some of these package systems here because they are
        widely used FLOSS projects, though we won't list projects
        providing very outdated versions.
        </p>

        <h4>Macports</h4>
        <p>
            An easy way to compile and install GIMP and other great <a href="https://www.gnu.org/philosophy/free-sw.html">Free software</a> on your Mac is by using <a href="https://www.macports.org/">Macports</a>. The installer allows you to choose from a large directory of packages. To install gimp using Macports, you simply do <code>sudo port install gimp</code> once you have Macports installed.
        </p>

        <p>
            Last we checked, the <a href="https://github.com/macports/macports-ports/blob/master/graphics/gimp/Portfile">GIMP
            port file</a> pointed to the current stable release
            and we have reports from people who've built GIMP
            successfully this way.
        </p>

        <ul>
            <li><a href="https://www.macports.org/">Download Macports</a></li>
        </ul>



        <h4>Homebrew</h4>
        <p>
            Homebrew is similar to Macports and provides packages (aka formulas) to install, either by compiling them from source or by using pre-made binaries. There are indications that there is now a formula for GIMP, installable with: <code>brew tap homebrew/cask && brew install --cask gimp</code>.
        </p>

        <ul>
            <li>
                <a href="https://brew.sh/">Download Homebrew</a>
            </li>
        </ul>
        <p>
            <b>NOTE!</b> Please be aware that it was announced recently that Homebrew is using analytics.
            To turn this off, run: <code>brew analytics off</code><br>
            You can read more about this on <a href="https://docs.brew.sh/Analytics">Brew Analytics</a>.
        </p>



<!--
        <h4>Fink</h4>
        <p>
            Fink is a package repository that offer mostly precompiled binaries. It provides the apt-get command known to e.g. Debian and Ubuntu users, and installing GIMP is as easy as <code>sudo apt-get install gimp</code> once you have installed the <a href="http://www.finkproject.org/download/index.php">Fink installer</a>.
        <br>
        If there's no binary package, then <code>fink install gimp</code> will compile GIMP from source.
        </p>

        <p>
            Disclaimer: we haven't been able to determine if it is
            possible to install or build recent GIMP from Fink.
            Last we checked, GIMP 2.6.12 appears to be the most recent <a href="http://pdb.finkproject.org/pdb/browse.php?summary=gimp">GIMP package</a> that is <a href="http://pdb.finkproject.org/pdb/package.php/gimp2">offered there</a>.
        </p>

        <ul>
            <li>
                <a href="http://www.finkproject.org/">Download Fink</a>
            </li>
        </ul>
-->

    </div>



    <div id='win' class="os win" markdown="1">
    <h2>GIMP for Windows</h2>

    {% if WINDOWS_FILE is defined %}

    {% if WINDOWS_VER != GIMP_VERSION %}
    <p>
        Note: the currently available package provides GIMP {{ WINDOWS_VER }} and has <em>not yet been updated to the latest version</em>, GIMP {{ GIMP_VERSION}}. We're working on it, please check back later.
    </p>
    {% endif %}

    {% if WINDOWS_COMMENT is defined %}
    <small>
        <p id='download-comment'>
            <strong>Updated on {{ WINDOWS_DATE }}: GIMP {{ WINDOWS_VER }} installer revision {{ WINDOWS_REVISION }}</strong> </br>
            {{ WINDOWS_COMMENT }}
        </p>
    </small>
    {% endif %}

    <p class='buttons'>
        <span class='download-button' id='download-torrent'>
            <a
            href="//download.gimp.org/gimp/v{{ WINDOWS_MAJOR_MINOR_VER }}/windows/{{ WINDOWS_FILE }}.torrent"
            title="Download GIMP via BitTorrent" id="download-torrent-link">
                Download GIMP&nbsp;{{ WINDOWS_VER }}<br/>
                via BitTorrent
            </a>
        </span>
        <span class='download-button'>
            <a
            href="//download.gimp.org/gimp/v{{ WINDOWS_MAJOR_MINOR_VER }}/windows/{{ WINDOWS_FILE }}"
            title="Download GIMP via HTTP" id='win-download-link' >
                Download GIMP&nbsp;{{ WINDOWS_VER }}<br/>
                directly
            </a>
        </span>
        <span class='download-button download-store'>
            <a
            href="ms-windows-store://pdp/?productid=XPDM27W10192Q0"
            title="Download GIMP on Microsoft Store" id='win-store-download-link' >
                GIMP&nbsp;{{ WINDOWS_VER }}<br/>
                on Microsoft Store
            </a>
        </span>
    </p>

    <small>
        <p>
            <a href="https://apps.microsoft.com/store/detail/gimp/XPDM27W10192Q0">GIMP
            on the <strong>Microsoft Store</strong></a> is the <a
            href="/news/2022/06/18/gimp-2-10-32-on-microsoft-store/#limitations-of-stores-gimp">same
            as the direct link installer</a>. If you wish to install
            through the store, we recommend using <a
            href="ms-windows-store://pdp/?productid=XPDM27W10192Q0">the
            provided store link</a> as our team cannot vouch for
            third-party packages of our code.
        </p>
    </small>

    <h3>Warnings and information</h3>
    <ul>
      {% if WINDOWS_MIN_SUPPORT is defined %}
      <li><p>Supported OS: <strong>{{ WINDOWS_MIN_SUPPORT }}</strong> or newer</p></li>
      {% endif %}
      <li>
          This is an all-in-one installer containing the following versions of
          GIMP: x86 32-bit and 64-bit, ARM 64-bit (experimental). It will
          automatically install the appropriate version.
      </li>
      <li>
          BitTorrent is a peer-to-peer file sharing system. It works by downloading GIMP from a distributed network of BitTorrent users, and may improve download speed dramatically.
          Choosing this option will download the torrent file for the GIMP installer.
          You may need to install a torrent client to make use of this file. <a href="//en.wikipedia.org/wiki/BitTorrent" title="BitTorrent on Wikipedia">Learn more...</a>
      </li>
    </ul>

    <h3>Security</h3>
    <p>
        The {{ WINDOWS_HASH_FUN.upper() }} hash sum for <code>{{ WINDOWS_FILE }}</code> is:
        <kbd>{{ WINDOWS_HASH }}</kbd>
    </p>
    <p>
      Check it on
      <a href="https://www.virustotal.com/">VirusTotal</a>:
      <a href="https://www.virustotal.com/#/file/{{ WINDOWS_HASH }}/detection">{{ WINDOWS_FILE }}</a>
    </p>

    {% else %}
        <p>
        There is no Windows installer yet, sorry. Please check back later.
        </p>
    {% endif %}

    <h3>Older Downloads</h3>
    <p>
    Previous v{{ WINDOWS_MAJOR_MINOR_VER }} installers for Windows can be found
    on <a href='//download.gimp.org/gimp/v{{ WINDOWS_MAJOR_MINOR_VER }}/windows/'>download.gimp.org</a>.
    </p>

    </div>

    <hr>

    <div id='source'>
    <h2>Source for version {{ GIMP_MAJOR_MINOR_VERSION }} (Stable)</h2>

    <p>GIMP releases are also available as source tarballs from gimp.org
    and its <a href="/donating/sponsors.html">mirrors</a>, containing
    the source code to compile for your system:
    <a
    href='//download.gimp.org/gimp/v{{ GIMP_MAJOR_MINOR_VERSION }}/'>https://download.gimp.org/gimp/v{{ GIMP_MAJOR_MINOR_VERSION }}/</a>
    </p>

    <details class='hashes'>
      <summary>
        Hashes of latest releases to check the integrity of the tarballs
      </summary>

    {% if GIMP.STABLE %}
        <dl>
        {% for values in GIMP.STABLE %}
            {% if 'source' in values %}
              <dt><strong>{{ values['source'][0]['filename'] }}</strong>
              {% if 'sha256' in values['source'][0] %}
              (sha256): </dt>
              <dd><kbd>{{ values['source'][0]['sha256'] }}</kbd></dd>
              {% elif 'sha512' in values['source'][0] %}
              (sha512): </dt>
              <dd><kbd>{{ values['source'][0]['sha512'] }}</kbd></dd>
              {% elif 'md5' in values['source'][0] %}
              (md5): </dt>
              <dd><kbd>{{ values['source'][0]['md5'] }}</kbd></dd>
              {% endif %}
            {% endif %}
        {% endfor %}
        </dl>
    {% endif %}
    </details>

    <p>For instructions on how to build GIMP from source code, you will want to
    read <a href='https://developer.gimp.org/core/setup/build/'>our developer website</a>.</p>

    <p>You may want to read the <a
    href='/release-notes/gimp-{{ GIMP_MAJOR_MINOR_VERSION }}.html'>Release Notes for GIMP {{ GIMP_MAJOR_MINOR_VERSION }}</a>.</p>

    <div id='manual'>
    <h2>User Manual</h2>

    {% if WINDOWS_FILE is defined %}
    <p>
        GIMP's user manual can be dowloaded separately on the <a
        href='//docs.gimp.org/download.html'>documentation</a> website
        either as language-specific Windows installers or as source tarball.
    </p>
    {% else %}
    <p>
        GIMP's user manual can be dowloaded separately on the <a
        href='//docs.gimp.org/download.html'>documentation</a> website as
        a source tarball.
    </p>
    {% endif %}
    <p>
        The manual can also be <a href="https://docs.gimp.org/">browsed online</a>
    </p>


    {% if GIMP_VERSION_DEVELOPMENT is defined %}
    <h2>Development snapshots</h2>

    <p>🤫Pssst... want to check out <strong>GIMP {{ GIMP_VERSION_DEVELOPMENT }} development release?</strong> Get it on our <a href="/downloads/devel/">development downloads page</a> 🧪.</p>
    {% endif %}

    </div>

    <script src='/js/platform.js'></script>
    <script src='/js/platform-display.js'></script>

    <script src='/js/downloads.js'></script>

{% endblock data %}
