{% extends "base.html" %}

{% block title %}{{ SITENAME }} - GNU Image Manipulation Program{% endblock %}

{% block head %}
{{ super() }}
        <link rel='stylesheet' type='text/css' href="/theme/css/home.css" />

        <meta itemprop='url' content='{{ SITEURL }}' />
        <meta itemprop='name' content='GIMP - GNU Image Manipulation Program' />
        <meta itemprop='image' content='{{ SITEURL }}/images/frontpage/wilber-big.png' />
        <meta itemprop='description' content="GIMP - The GNU Image Manipulation Program: The Free and Open Source Image Editor" />

        <meta property='og:url' content='{{ SITEURL }}/{{ page.url }}' />
        <meta property='og:title' content='{{ SITENAME }}' />
        <meta property='og:image' content='{{ SITEURL }}/images/frontpage/wilber-big.png' />
        <meta property='og:type' content='website' />
        <meta property='og:site_name' content='{{ SITENAME }}' />
        <meta property='og:description' content="GIMP - The GNU Image Manipulation Program: The Free and Open Source Image Editor" />

{% endblock head %}


{% block header %}
<header id="banner" class="body clearfix">

<img id='twenty-banner' src='/images/frontpage/25banner.svg' alt='GIMP 25th Anniversary Banner' width='250' height='250' />

            <div class="container">
                <div class="intro row">

                    <img id='WilberLogo' src="/images/frontpage/wilber-big.png" alt="GIMP Wilber" width='200' height='200'/>
                    <h1>
                        <a href="/">GIMP</a>
                        {#<a href="/">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a> #}
                        {# <a href="/"><img src="/theme/images/wilber-big.png" alt="GIMP Wilber"/>{{ SITENAME }}</a> #}
                    </h1>
                    <div class='introInfo'>
                        <span id='gFirst'>GNU IMAGE</span>
                        <span id='gSecond'>MANIPULATION PROGRAM</span>
                        <span id='gThird'>
                            <a href="/downloads/" title="Download GIMP!">
                                <span id="DLButton"><i class="fa fa-download"></i> DOWNLOAD <span id='ver'>{{ GIMP_VERSION }}</span></span>
                            </a>
                            <a href="/release-notes/gimp-{{ GIMP_MAJOR_MINOR_VERSION }}.html"
                               title="{{ GIMP_MAJOR_MINOR_VERSION }} Release Notes" >
                                <span id="ReleaseButton">RELEASE NOTES</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>

        </header><!-- /#banner -->

{% endblock header %}


{% block content %}

    <section id='introduction'>
        <div class='container'>
            <div class='row clearfix'>
                <div class='column half'>
                    <h2>The Free &amp; Open Source Image Editor</h2>
                    <p>
			This is the official website of the GNU Image Manipulation Program
			(GIMP).
                    </p>
                    <p>
                        GIMP is a cross-platform image editor available for GNU/Linux,
			macOS, Windows and more operating systems. It is
			<a href='https://www.gnu.org/philosophy/free-sw.html'
			title='GNU - The Free Software Definition' target="_blank">free
			software</a>, you can change its
			<a href="https://git.gnome.org/browse/gimp"
			title='Source code repository of GIMP' target="_blank">source code</a>
			and <a href="https://www.gnu.org/licenses/quick-guide-gplv3.en.html"
			title='A Quick Guide to GPLv3' target="_blank">distribute</a>
			your changes.
                    </p>
                    <p>
                        Whether you are a graphic designer, photographer, illustrator, or
			scientist, GIMP provides you with sophisticated tools to get your job
			done. You can further enhance your productivity with GIMP thanks to
			many customization options and 3rd party plugins.
                    </p>
                </div>

                <div class='column half news' >
                    <h2 id='recent-news'><a href='/news/'>Recent News</a></h2>
                    {% for n in range(4) %}
                    <div class="news-item">
                        <a href="{{ articles[n].url }}" class="news-headline">{{ articles[n].title }}</a>
                        <abbr class="news-published" title="{{ articles[n].date }}">{{ articles[n].locale_date }}</abbr>
                    </div>
                    {% endfor %}
                    <div class='news-more'><a href="/news/">Read More News &raquo;</a></div>
                </div>

            </div>
        </div>
    </section>

    <section id='cap-photos' class='cap'>
        <div class='container'>
            <div class='row clearfix'>
                <div class='column third'>
                    &nbsp;
                </div>
                <div class='column two-thirds'>
                    <h2>High Quality Photo Manipulation</h2>
                    <p>
                        GIMP provides the tools needed for high quality image manipulation.
                        From retouching to restoring to creative composites, the only limit is your imagination.
                    </p>
                </div>
            </div>
        </div>
    </section>


    <section id='cap-painting' class='cap'>
        <div class='container'>
            <div class='row clearfix'>
                <div class='column two-thirds'>
                    <h2>Original Artwork Creation</h2>
                    <p>
                        GIMP gives artists the power and flexibility to transform images into truly unique creations.
                    </p>
                </div>
                <div class='column third'>
                    &nbsp;
                </div>
            </div>
        </div>
    </section>


    <section id='cap-graphics' class='cap'>
        <div class='container'>
            <div class='row clearfix'>
                <div class='column third'>
                    &nbsp;
                </div>
                <div class='column two-thirds'>
                    <h2>Graphic Design Elements</h2>
                    <p>
                        GIMP is used for producing icons,
                        graphical design elements, and art for user interface components and mockups.
                    </p>
                </div>
            </div>
        </div>
    </section>


    <section id='cap-algorithms' class='cap'>
        <div class='container'>
            <div class='row clearfix'>

                <div class='column two-thirds'>
                    <h2>Programming Algorithms</h2>
                    <p>
                        GIMP is a high quality framework for scripted image manipulation,
                        with multi-language support such as C, C++, Perl, Python, Scheme, and more!
                    </p>
                </div>

                <div class='column third'>
                    &nbsp;
                </div>

            </div>
        </div>
    </section>



    <section id='component' class=''>
        <div class='container'>
            <div class='row clearfix'>

                <div class='column full'>
                    <h3>Key Component in a Desktop Publishing Workflow</h3>
                    <p>
                        GIMP provides top-notch color management features to
			ensure high-fidelity color reproduction across digital
			and printed media. It is best used in workflows
			involving other free software such as
                        <a href="https://www.scribus.net/" title="Scribus">Scribus</a>
                        and <a href="https://inkscape.org" title="Inkscape">Inkscape</a>.
                    </p>
                </div>

            </div>

            <hr/>

            <div class='row clearfix'>
                <div class='column half'>
                    <a href="https://www.scribus.net/" title="Scribus">
                        <img src="/images/frontpage/200px-Scribus_logo.svg.png" alt="Scribus Logo" />
                    </a>
                    <h4><a href="https://www.scribus.net/" title="Scribus">Scribus</a></h4>
                </div>

                <div class='column half'>
                    <a href="https://inkscape.org" title="Inkscape">
                        <img src="/images/frontpage/Inkscape_Logo.svg.png" alt="Inkscape Logo" />
                    </a>
                    <h4><a href="https://inkscape.org" title="Inkscape">Inkscape</a></h4>
                </div>
            </div>
        </div>
    </section>


    <section id='extensible'>
        <div class='container'>
            <div class='row clearfix'>
                <div class='column full'>
                    <h3>Extensibility & Flexibility</h3>
                    <p>
                        GIMP provides extensibility through integration
                        with many programming languages including Scheme, Python, Perl,
                        and more.
                    </p>
                    <p>
                        The result is a high level of customization as demonstrated
                        by the large number of scripts and plug-ins created by the community.
                    </p>
                </div>
            </div>
        </div>
        <div class='container'>
            <img id='blocks' src='/images/frontpage/blocks.svg' alt='Building Blocks Graphic' />
        </div>
    </section>

    <section id="attribution">
        <div class="container">
            <div class="row clearfix">
                <div class="column half">
                    {% if HEADER_IMG %}
                    <p id='headerImgAttr'>
                        <em>Header</em> image: <a class='headerTitle' href="{{ HEADER_IMG.sourceURL }}" title='{{ HEADER_IMG.title }}'>{{ HEADER_IMG.title }}</a>
                        by
                        <a class='headerAuthor' href="{{ HEADER_IMG.authorURL }}">{{ HEADER_IMG.author }}</a>
                        (<a class='headerLicense' href="https://creativecommons.org/licenses/by-sa/4.0/" title="Creative Commons Attribution-ShareAlike"><span class='cc'>cba</span></a>)
                    </p>
                    {% endif %}

                    <p>
                        <em>High Quality Photo Manipulation</em> background image by <a href="https://pixls.us">Pat David</a> (<a href="https://creativecommons.org/licenses/by-sa/4.0/" title="Creative Commons Attribution-ShareAlike"><span class='cc'>cba</span></a>)
                    </p>
                </div>

                <div class="column half">
                    <p>
                        <em>Original Artwork Creation</em> background image by <a href="https://www.davidrevoy.com/">David Revoy</a> (<a href="https://creativecommons.org/licenses/by/3.0/" title="Creative Commons Attribution"><span class='cc'>cb</span></a>)
                    </p>

                    <p>
                        <em>Graphic Design Elements</em> background image by
                        <a href="https://madebyoll.in/">Ollin Bohan </a>
                        (<a href="https://creativecommons.org/licenses/by-sa/4.0/" title="Creative Commons Attribution-ShareAlike"><span class='cc'>cba</span></a>)
                    </p>
                </div>

            </div>
        </div>


    </section>

{% endblock content %}
