{% extends "base.html" %}

{% block title %}{{ SITENAME }} - News{%endblock%}

{% block head %}
{{ super() }}
<link rel='stylesheet' type='text/css' href="/theme/css/page.css" />
<link rel='stylesheet' type='text/css' href="/theme/css/news-index.css" />

<meta itemprop='url' content='{{ SITEURL }}/{{ articles_page.url }}' />
<meta itemprop='name' content='{{ SITENAME }} - News' />
<meta itemprop='image' content='{{ SITEURL }}/images/frontpage/wilber-big.png' />

<meta property='og:url' content='{{ SITEURL }}/{{ articles_page.url }}' />
<meta property='og:title' content='{{ SITENAME }} - News' />
<meta property='og:image' content='{{ SITEURL }}/images/frontpage/wilber-big.png' />

{% endblock head %}


{#
{% block header %}
<header id="banner" class="body clearfix">
            <div class="container">
                <div class="intro row">

                    <img id='WilberLogo'
                    src="/theme/images/wilber-big.png" alt="GIMP Wilber" width='200' height='200'/>
                    <h1>
                        <a href="/">GIMP</a>
                        {#<a href="/">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a> #}
                        {# <a href="/"><img src="/theme/images/wilber-big.png" alt="GIMP Wilber"/>{{ SITENAME }}</a> #}

{#
                    </h1>
                    <div class='introInfo'>
                        <span id='gFirst'>GNU IMAGE</span>
                        <span id='gSecond'>MANIPULATION PROGRAM</span>
                        <span id='gThird'>
                            <a href="/downloads/">
                                <span id="DLButton"><i class="fa fa-download"></i> DOWNLOAD</span>
                            </a>
                            <span id="ReleaseButton">RELEASE NOTES</span></span>
                    </div>
                </div>
            </div>
        </header><!-- /#banner -->

{% endblock header %}
#}
    
{% block content %}


    <div class="container title">
        <div class="row clearfix">
            <div class="column full">
                {% block content_title %}
                <h1>Recent News</h1>
                <div class='feed-text'><a href='/feeds/atom.xml'>Feed <i class='fa fa-rss'></i></a></div>
                {% endblock %}
            </div>
        </div>
    </div>

    <section id="articles">
        {#
        {% block content_title %}
            <h2>Recent News</h2> 
        {% endblock %}
        #}

        <div class="container">
            {% for article in articles_page.object_list %}
                <div class='row clearfix'>

                    <div class="column full">
                        <h3 class="entry-title">
                            <a href="/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
                                {{ article.title }}
                            </a>
                        </h3>

                        <div class='post-info'>
                            <abbr class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </abbr>

                            {# Suppressing the author info - they're all Wilber for now! #}
                            <address class="vcard author">by
                                {% for author in article.authors %}
                                    <a class="url fn" href="/{{ author.url }}">{{ author }}</a>
                                {% endfor %}
                            </address>
                            {# #}

                        </div>

                        <div class='entry-content'> 
                            {% if article.summary %}
                            {{ article.summary }} 
                            {% else %}
                            {{ article.content|truncate() }}
                            {% endif %}
                        </div>

                        {#
                        <div class='entry-more'>
                            <a href="/{{ article.url }}" rel='bookmark' title='Permalink to {{ article.title|striptags }}'>
                                More &raquo;
                            </a>
                        </div>
                        #}

                    </div>

                </div>
                <hr/>
            {% endfor %}
            {% if articles_page.has_other_pages() %}
                {% include 'pagination.html' %}
            {% endif %}
        </div>


        {# original stuff ...
        <ol id="post-list">
        {% for article in articles_page.object_list %}
                <li><article class="hentry">
                        <header> <h2 class="entry-title"><a href="/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>
                        <footer class="post-info">
                            <abbr class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </abbr>
                            <address class="vcard author">By
                            {% for author in article.authors %}
                                <a class="url fn" href="/{{ author.url }}">{{ author }}</a>
                            {% endfor %}
                            </address>
                        </footer><!-- /.post-info -->
                        <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
                </article></li>
        {% endfor %}
        </ol><!-- /#posts-list -->
        {% if articles_page.has_other_pages() %}
            {% include 'pagination.html' %}
        {% endif %}
        #}

    </section><!-- /#content -->

{% endblock content %}
