/* Fonts */

/* Questrial
Used as Heading font 
 */
/* questrial-regular - latin */
@font-face {
  font-family: 'Questrial';
  font-style: normal;
  font-weight: 400;
  src: url('/theme/fonts/questrial-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Questrial'), local('Questrial-Regular'),
       url('/theme/fonts/questrial-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/theme/fonts/questrial-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/theme/fonts/questrial-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/theme/fonts/questrial-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/theme/fonts/questrial-v6-latin-regular.svg#Questrial') format('svg'); /* Legacy iOS */
}

/* Open Sans
 * In use all over the place as body text
 * Mass-download + css for self-hosting courtesy of:
 * https://google-webfonts-helper.herokuapp.com
 */

/* Testing fix for missing diacritics on some glyphs...
 */

/* open-sans-300 - latin_cyrillic-ext_latin-ext_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-300.woff') format('woff'), /* Modern Browsers */
       url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-300italic - latin_cyrillic-ext_latin-ext_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-300italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'),
       url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-300italic.woff') format('woff'), /* Modern Browsers */
       url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-300italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin_cyrillic-ext_latin-ext_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-italic - latin_cyrillic-ext_latin-ext_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-italic.woff') format('woff'), /* Modern Browsers */
       url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin_cyrillic-ext_latin-ext_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-weight: bold;
  src: url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
       url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-600.woff') format('woff'), /* Modern Browsers */
       url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600italic - latin_cyrillic-ext_latin-ext_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-weight: bold;
  src: url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-600italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'),
       url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-600italic.woff') format('woff'), /* Modern Browsers */
       url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/theme/fonts/open-sans-v13-latin_cyrillic-ext_latin-ext_cyrillic-600italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}



/* League Gothic Regular */
/* Also only used on the main page
 * for the GIMP title at the moment */
@font-face {
    font-family: 'League Gothic';
    src: url('/theme/fonts/leaguegothic-regular-webfont.eot');
    src: url('/theme/fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/theme/fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('/theme/fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('/theme/fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




/* Ostrich Sans Rounded */
/* Only used on the main page?
 * may have to move this to only the index.css */
@font-face {
	font-family: 'Ostrich Sans Rounded';
	src: url('/theme/fonts/ostrich-sans-rounded.eot');
	src: local('☺'), url('/theme/fonts/ostrich-sans-rounded.woff') format('woff'), url('/theme/fonts/ostrich-sans-rounded.ttf') format('truetype'), url('/theme/fonts/ostrich-sans-rounded.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}


/* Creative Commons Fonts */
@font-face {
    font-family: 'CC';
    src: url('/theme/fonts/cc-icons.ttf');
    font-weight: 400;
    font-style: normal;
}

.cc {
    font-family: 'CC';
    vertical-align: middle;
}

html {
    font-family: "Open Sans", sans;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Lato, sans;
    font-weight: 400;
    font-family: Questrial, sans;
}

h1 {
    font-size: 1.7rem;
}

p {
    font-weight: 300;
    font-weight: normal;
    color: #777;
}

nav#menu {
    background-color: #0e2426;
    text-align: center;
    padding: 0.2rem 0;
    font-family: Lato;
    text-transform: uppercase;
    font-size: 1rem;
    font-size: 0.85rem;
    padding: 0.2rem 0.5rem;
    font-family: "Josefin Sans", Lato, "Open Sans", sans-serif;
    /* per jimmac */
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7rem;
    font-weight: 400;
    font-weight: 600;
    letter-spacing: 0.06rem;
    padding: 0.5rem;
}

nav#menu ul, nav#menu ul li {
    padding: 0;
    display: inline;
}

nav#menu ul > li {
    margin-left: 1.5rem;
    letter-spacing: 0.15rem;
}

nav#menu ul > li:first-of-type {
    margin-left: 0;
}

nav#menu ul > li a{
    color: #ecf0f1;
}

nav#menu ul > li:last-of-type {
    white-space: nowrap;
}

.donate-type:hover {
    text-decoration: none;
}

.donate-type > img {
    vertical-align: middle;
    display: inline;
    width: 16px;
}

.donate-type > i {
    display: inline !important;
    color: #f57900;
}

nav#menu .fa {
    font-size: 1rem;
    vertical-align: middle;
    vertical-align: text-top;
    display: none;
}

header a {
    color: #497bad;
}

figure {
    margin: 1rem 0;
}

#gimp-home img {
    width: initial; 
    margin: 0;
    display: inline;
    vertical-align: text-top;
}

#gimp-home #menuWilber {
    width: 25px;
    height: 20px;
    }

.codehilitetable {
    margin: 1rem auto;
    font-size: 0.8rem;
    max-width: 34rem;
    width: 34rem;
    width: 100%;
}

.codehilite {
    font-size: 0.8rem;
    max-width: 34rem;
    margin: 1rem auto;
    padding: 0.5rem;
    border: solid 1px #ddd;
    border-radius: 3px;
}

.codehilite pre {
    margin: 0;
}

.MenuCmd {
    text-align: center;
    margin: 1.5rem;
}

.MenuCmd > span {
    padding: 0.25rem 1rem;
    border: solid 1px #ddd;
    background-color: #f8f8f8;
    border-radius: 3px;
}

.GIMPCmd {
    text-align: center;
    margin: 1.5rem auto;
    display: table;
    padding: 0.25rem 1rem;
    border: solid 1px #ddd;
    background-color: #f8f8f8;
    border-radius: 3px;
    max-width: 34rem;
    font-size: 0.8rem;
}

.Cmd {
    text-align: center;
}

.aside {
    border: dashed 1px #aaa;
    padding: 0.5rem;
}

img {
    display: initial;
    height: initial;
    margin: 0;
    width: initial;
    max-width: 100%;
}

dl {
    max-width: 34rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}

dt {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
}

dd {
    font-weight: 300;
}


.fluid-video {
    position: relative;
    margin-bottom: 1rem;
}

.fluid-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

ol > li > ol {
    list-style-type: upper-alpha;
}

ol > li > ol > li > ol {
    list-style-type: lower-roman;
}


footer {
    padding: 3rem 0;
    background-color: #0e2426;
    color: silver;
    box-shadow: inset 0 7px 15px -5px black;
}

footer .column {
    padding: 0;
    text-align: center;
}

footer .nav-bottom li {
    margin-bottom: 0;
}

footer .nav-bottom a {
    font-family: Lato;
    text-transform: uppercase;
    color: whitesmoke;
    font-family: "Josefin Sans", Lato, "Open Sans", sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

.nav-bottom {
    list-style-type: none;
    padding-left: 0;
}

.secondary-links {
    margin-top: 1.5rem;
    font-size: 0.75rem;
}

.secondary-links ul {
    list-style-type: none;
    padding-left: 0;
}

.secondary-links ul a {
    color: #f57900;
}

.secondary-links li {
    margin-bottom: 0.25rem;
}

.row.bottom {
    text-align: center;
    color: silver;
    margin-top: 2rem;
    font-size: 0.85rem;
}

.row.bottom a {
    color: #f57900;
}

@media ( max-width: 40rem ){

    footer .column.third {
        margin-bottom: 0
    }

    ul.nav-bottom {
        text-align: center;
        padding-left: 0;
    }

    ul.nav-bottom li {
        border-top: dotted 1px #333;
    }

    /*
    ul.nav-bottom li:first-of-type {
        border-top: none;
    }
    */

    ul.nav-bottom a {
        display: block;
        padding: 1rem 0;
    }

    #nav-btm-gimp-home {
        margin-left: 0;
    }

    #nav-btm-downloads {
        margin-left: 0;
    }

    #nav-btm-news {
        margin-left: 0;
    }
}



/* Working on responsive/mobile styling here
 */
@media ( max-width: 40rem ){

    nav#menu {
        visibility: hidden;
        position: fixed;
        top: 0;
        padding: 0;
        width: 100%;
        z-index: 5;
        -webkit-transition: -webkit-transform 0.25s ease-in-out;
        -moz-transition: -moz-transform 0.25s ease-in-out;
        -o-transition: -o-transform 0.25s ease-in-out;
        transition: transform 0.25s ease-in-out;
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    nav#menu.show {
        -webkit-transform: translateY(46px);
        -moz-transform: translateY(46px);
        -o-transform: translateY(46px);
        -ms-transform: translateY(46px);
        transform: translateY(46px);
        box-shadow: 0 -10px 10px 10px rgba(0,0,0,0.85);
    }

    nav#menu.hide {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
        box-shadow: none;
    }

    #menu ul {
        text-align: center;
        background-color: #0e2426;
    }

    nav#menu ul li {
        display: block;
        font-size: 1rem;
        margin-left: 0;
        /*
        letter-spacing: 0.1rem;
        padding-bottom: 0.75rem;
        padding-top: 0.75rem;
        */
    }

    nav#menu ul li a {
        display: block;
        letter-spacing: 0.1rem;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }

    nav#menu ul li:last-of-type {
        margin-bottom: 1rem;
    }

    nav#menu ul li a.donate-type {
        display: inline;
        padding: 1rem;
    }

    a#navel-old {
        top: 0;
        z-index: 2;
        font-size: 2rem;
        color: gray;
        display: block;
        padding-left: 1rem;
        padding-top: 0.5rem;
        background-color: transparent;
        position: fixed;
        color: white;
        text-shadow: 1px 1px black, 
                        1px -1px black, 
                        -1px -1px black, 
                        -1px 1px black;
        display: none;
    }

    a#navel-old.bottom {
        top: initial;
        bottom: 0;
    }

    a#navel-old.initial {
        top: 0;
        bottom: initial;
    }

    #navstrip {
        top: 0;
        z-index: 2;
        position: absolute;
        width: 100%;
        text-align: center;
        background-color: #333;
        font-size: 0.8rem;
        transition: top 0.2s ease-in-out;
        position: fixed;
        box-shadow: 0 -10px 10px 10px rgba(0,0,0,0.85);
    }
    
    #navstrip .navfive {
        display: inline-block;
        width: 19%;
        color: white;
        font-size: 0.75rem;
        padding: 0.1rem 0;
    }

    .navfive i.fa, .navfive #wilber-tiny {
        font-size: 1.25rem;
        position: relative;
        bottom: -2px;
    }


    #pushPage .container.title {
        padding-top: 60px;
    }

    #pushPage #content.body {
        padding-top: 65px;
    }


    #pushPage #banner {
        padding-top: 55px;
    }
    
    .container.title .column.full {
        margin-bottom: 0;
    }

    .nav-down {
        top: 0;
    }

    .nav-up {
        top: -60px !important;
    }
    
    .secondary-links {
        margin-top: 2rem;
    }

    .secondary-links ul {
        text-align: center;
    }

    .secondary-links ul a {
        display: block;
        padding: 12px 0;
        font-size: 1rem;
    }
}


@media ( min-width: 40.01rem ){
    #navstrip {
        display: none;
    }

    #menu {
        display: block;
    }

    a#navel-old {
        display: none;
    }

    #nav-up {
        display: none;
    }
}

video {
    margin: 0.5rem auto;
    display: block;
    max-width: 100%;
    height: auto;
}

a.headerlink {
    visibility: hidden;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    margin-left: 0.5rem;
    text-decoration: none;
}

a.headerlink:before {
    content: "\f0c1";
    visibility: visible;
    opacity: 0;
}

h2:hover a.headerlink:before,
h3:hover a.headerlink:before,
h4:hover a.headerlink:before,
h5:hover a.headerlink:before,
h6:hover a.headerlink:before {
    opacity: 1
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  max-width: 34rem;
  margin: 1.5rem auto;
  padding: 1rem;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

#menu li iframe {
    height: 18px;
    vertical-align: top;
    margin-left: 0;
}

form {
    max-width: 34rem;
    margin: 1rem auto;
}

#wilber-tiny {
    width: 25px;
    height: 20px;
}

a.donate-orange {
    color:#f57900 !important;
}

.buttons {
    text-align: center;
}

.donate-button {
        display: inline-block;
        border: solid 1px #666;
        background-color: #2cbefb;
        color: white;
        margin: 0.5rem 0;
        border-radius: 10px;
        box-shadow: 1px 1px 2px;
        text-align: center;
        font-family: Questrial;
        font-weight: 400;
        width: 49%;
}

.donate-button a {
        color: white;
}

.download-button {
    display: inline-block;
    border: solid 1px #666;
    background-color: #f57900;
    margin: 0.5rem 0;
    border-radius: 10px;
    box-shadow: 1px 1px 2px;
    text-align: center;
    font-family: Questrial;
    font-weight: 400;
    width: 49%;
}

#download-torrent {
    background-color: #008080;
}

.download-store {
    background-color: #27a3ed;
}

.download-button a {
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 1rem;
}

/* List of data checksum hashes. */

details.hashes {
        text-align: center;
}
details.hashes[open] {
        border: 2px dotted black;
}
details.hashes summary {
        display: inline-block;
        border: 1px solid navy;
        background: #777;
        color: white;
        padding-left: 1.3rem;
        padding-right: 0.5rem;
        position: relative;
        cursor: pointer;
}
details.hashes[open] summary {
        border: 2px solid navy;
}
details.hashes dt {
    text-align: left;
}
details.hashes summary:before {
  content: '';
  border-width: .4rem;
  border-style: solid;
  border-color: transparent transparent transparent white;
  position: absolute;
  top: 0.4rem;
  left: 0.5rem;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
}
details.hashes[open] > summary:before {
  transform: rotate(90deg);
}

/* Text replace images. */

.cc-by-sa {
  background: url('/images/creativecommons/by-sa.svg') 0 0 no-repeat;
  background-origin: content-box;
  background-position: center left;

  /* This technique to hide text will only work for block contents. */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.cc-by-sa span {
  /* This technique is for inline contents. */
  visibility: hidden;
}
